<% first = true %>
<% if @users.size == 0 then %>
  <i>No Users Found</i>
<% elsif @users.size >= 25 then %>
  <i>Too Many Results</i>
<% else%>
  <% rowNum = 0 %>
  <% for u in @users do %>
    <% if u.class == Hash then 
      u = u[:word]
    end %>
    <% if first then
      style = "class=selectedAutoCompleteDiv"
      first = false
    else
      style = "class=autoCompleteDiv"
    end %>
      <div style="cursor:pointer" <%= style %>
      <% if params[:link] then %>
        onclick="selectCompleteID(event,'<%= u.andrewID %>')"
      <% end %>
      ><%= u.andrewID %></div>
      <% rowNum+= 1 %>
  <% end %>
<% end %>
