<h2>Edit Problems for <%= current_assessment_link %></h2>
<ul>
  <% # this bit of Rails magic renders app/views/problems/_problem.html.erb for every problem in the collection %>
  <%= render @assessment.problems %>
</ul>
<%= link_to "Add Problem", new_course_assessment_problem_path(@course, @assessment) %>
