<% content_for :stylesheets do %>
  <%= stylesheet_link_tag "bulkGrade" %>
<% end %>

<h2>Bulk Upload Grades for <%= link_to @assessment.display_name, current_assessment_path %></h2>

<p><span class="success">Success</span>! The following entries were saved:</p>

<%= render "bulkGrade_entries", :entries => @entries, :problems => @assessment.problems %>
