<h2>Error Parsing your Assessment Configuration File:</h2>

<h4>Error</h4>
<div>
  <pre><%= @error.to_s %></pre>
</div>

<h4>Options</h4>
<ul class="collection">
  <li class="collection-item">
    Directly edit the configuration file (via the file system) and
    <%= link_to "reload", reload_course_assessment_path(@course, @assessment), data: { method: "post" } %>
  </li>
  <li class="collection-item">Upload a new configuration file
    <%= link_to "here", edit_course_assessment_path(@course, @assessment) %>
  </li>
</ul>

<h4>Stack Trace</h4>
<div>
  <pre><%= @error.backtrace.join("\n") %></pre>
</div>
