<h2>Error Parsing your Assessment Configuration File:</h2>

<div>
  <pre><%= @error.to_s %></pre>
</div>

<div>
  <%= link_to "Click here once you have fixed the above error", [:reload, @course, @assessment], data: {method: "post"} %>
</div>

<% # this rails function returns a <pre> containing the error as YAML %>
<div>
  <%= debug @error %>
</div>

<div>
  <pre><%= @error.backtrace.join("\n") %></pre>
</div>
