<h2 style="text-align: center"><%= link_to @assessment.display_name, course_assessment_path(@course, @assessment) %></h2>

<%= render :partial=>"gradesheet", :locals => { :students => @students }, :layout => false %>
