<h2>Create Announcement</h2>
<div class="row">
  <div class="col">
    <%= form_for @announcement, url: { action: "create" }, builder: FormBuilderWithDateTimeInput do |f| %>
      <%= render partial: 'announcementFields', locals: { f: } %>
    <% end %>
  </div>
</div>
