# Run [echo 'Lockbox.generate_key' | bundle exec rails c] to generate LOCKBOX_MASTER_KEY
# Used for encrypting API tokens
LOCKBOX_MASTER_KEY=

# Run [bundle exec rake secret] to generate DEVISE_SECRET_KEY
# Used for generating user authentication tokens
DEVISE_SECRET_KEY=

# Used for Github integration. See [TODO LINK TO DOCS]
GITHUB_CLIENT_ID=

# Used for Github integration. See [TODO LINK TO DOCS]
GITHUB_CLIENT_SECRET=