/attachments/
log/
tmp/cache/
lib/autoConfig.rb
assessmentConfig/
courseConfig/
/courses/
/courses
/gradebooks/
config/database.yml
public/images/CourseSubmissions.png
public/images/HourlySubmissions.png
public/assets/
public/stylesheets/
vendor/
tmp/
!tmp/restart.txt
*.swp
db/*.sqlite3
