log/
tmp/cache/
config/autogradeConfig.rb
assessmentConfig/
courseConfig/
config/environments/production.rb
config/initializers/devise.rb
/courses/
/courses
/gradebooks/
config/database.yml
public/images/CourseSubmissions.png
public/images/HourlySubmissions.png
public/assets/
public/stylesheets/
vendor/
tmp/
!tmp/restart.txt
*.swp
db/*.sqlite3
tags
.DS_Store
.idea/
/docker/nginx.conf
app/views/home/_topannounce.html.erb
attachments/
