<% @title = "Github Integration" %>
<% GithubIntegration.check_github_authorization %>
<h2>Github Integration</h2>
<!-- If Github application secrets are not configured correctly, the default unauthenticated
limit is 60 as of writing, and it is 5000 if configured, so we just check for
a large enough value -->
<% if @github_integration && @github_integration.limit > 1000 %>
  Autolab is connected to Github!
  <ul>
    <li><b>Rate limit:</b> <%= "#{@github_integration.remaining}/#{@github_integration.limit}" %></li>
    <li><b>Resets: </b><%= @github_integration.resets_at %></li>
    <li><b>Resets in:</b> <%= @github_integration.resets_in %></li>
  </ul>
<% else %>
  <b>Github integration is not configured or misconfigured, or Github is down. </b>
  <br>
  To configure Github integration, please check our docs here. <!-- TODO update with documentation link -->
  <br>
  Please set GITHUB_CLIENT_ID and GITHUB_CLIENT_SECRET environment variables to refer to
  your Github application's client ID and secret respectively.
<% end %>
