<%# For navigation breadcrumbs %>
<% @title = "Edit Problem" %>

<% content_for :stylesheets do %>
  <%= stylesheet_link_tag "problems" %>
<% end %>

<h4>Edit Problem</h4>
<%= form_for @problem, url: course_assessment_problem_path(@course, @assessment, @problem),
                       method: :patch, builder: FormBuilderWithDateTimeInput do |f| %>
  <%= render partial: "fields", locals: { f: } %>
<% end %>
