<%# For navigation breadcrumbs %>
<% @title = "New Problem" %>

<% content_for :stylesheets do %>
  <%= stylesheet_link_tag "problems" %>
<% end %>

<h2>
  Create New Problem
</h2>
<%= form_for :problem, url: course_assessment_problems_path(@course, @assessment), method: :post,
                       html: { class: 'edit_problem' }, builder: FormBuilderWithDateTimeInput do |f| %>
  <%= render partial: "fields", locals: { f: } %>
<% end %>
