<div class="row">
  <div class="col s12">
    <ul id="tabs" class="tabs tabs-fixed-width">
      <% ["basic", "ec2"].each do |tab_name| %>
        <%= if tab_name == params[:active_tab]
              tag.li(link_to(tab_name.titleize, "#tab_#{tab_name}"), class: "active tab")
            else
              tag.li(link_to(tab_name.titleize, "#tab_#{tab_name}"), class: :tab)
            end %>
      <% end %>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col s12">
      <%= form_for @autograder, url: course_assessment_autograder_path(@course, @assessment, @autograder),
                                builder: FormBuilderWithDateTimeInput,
                                html: { multipart: true } do |f| %>
        <div id="tab_basic">
          <%= render "basic_settings", f: %>
        </div>
        <div id="tab_ec2">
          <%= render "ec2_settings", f: %>
        </div>
      <% end %>
  </div>
</div>
