<% content_for :javascripts do %>
    <script type="text/javascript">
        $(function () {
            $.post("visualRun", function (returned) {
                $(".output").html(returned)
            })
        })
    </script>
<% end %>

<h3>Running scheduler</h3>

<div class="output">
    Running script...
</div>
