<td>
  <div style="display: flex; align-content: center; justify-content: center;">
    <i class="material-icons tooltipped" data-tooltip="Could not parse scoreboard entry">
      error_outline
    </i>
  </div>
</td>
