<h1>Create a Group</h1>

<h2>Students Without Groups</h2>

<ul class="gray-box">
  <% @grouplessCUDs.each do |cud| %>
    <% if cud.id != @cud.id && cud.student? then %>
      <li><b><%= cud.email %></b>
        (<%= link_to "Invite to Group", [@course, @assessment, @group, member_id: cud.id], method: :post %>)
      </li>
    <% end %>
  <% end %>
</ul>

<h1>Join a Group</h1>

<ul class="gray-box">
  <% @groups.each do |group| %>
    <% if group.assessment_user_data.size < @assessment.group_size then %>
      <%= render "list_item", {group: group} %>
    <% end %>
  <% end %>
</ul>

<%= groups_back_link %>
