<% @title = "Create New Group" %>

<h4>Create New Group</h4>

<%= render "new_form" %>

<% if @unfullGroups.size > 0 %>
  <h4>Join a Group</h4>

  <ul class="gray-box">
    <% @unfullGroups.each do |group| %>
      <%= render "list_item", { group: } %>
    <% end %>
  </ul>
<% end %>

<div style="margin-top: 1em">
  <%= groups_back_link %>
</div>
