ul#tabs {
  margin: 20px 0;
}

form.edit_assessment,
form.new_assessment {
  div.action_buttons {
    margin: 25px 0 15px 0;
  }

  button.delete_btn {
    display: contents;
  }

  input.datepicker,
  input.time_input {
    display: inline;
  }

  .score-adjustment {
    .value { display: inline; }
    .kind { display: inline; width: 6em; }
  }

  label.suppress-bottom-margin {
    margin-bottom: 0;
  }
}
