<% @title = "Edit Attachment" %>

<% path = if @is_assessment
            course_assessment_attachment_path(@course, @attachment.assessment, @attachment)
          else
            course_attachment_path(@course, @attachment)
          end %>

<div class="row">
  <div class="col-md-6">
    <%= render partial: "form", locals: { path: } %>
  </div>
</div>
