<h2>Interested in Autolab?</h2>

<p>Are you an instructor who is interested in autograding, or a TA who wants a
better way to handle submissions? Autolab might be the tool you've been looking
for. You can read more about Autolab's purpose on our
<a href="http://greatwhite.ics.cs.cmu.edu/">public page</a>.</p>
