<%#
  Use this file as an opportunity to broadcast a permanent message on
  the root '/' path at the bottom of the page. This is normally the page
  with a list of all courses.

  For example, at CMU we use it to provide students and instructors with
  a convenient link to an older deployment of Autolab that exists solely
  for archival purposes. Uncomment the below, rename this file to drop
  the `.template` suffix, and nagivate to Autolab in your browser to see
  the effect.
%>

<h1>Other Courses</h1>
<div class="container">
<div class="col-md-6">
<p>Archived content for most 2015 Autolab courses is hosted at Autolab.cs.cmu.edu. In addition, the Spring 2016 archives of 15-213 and 15-312 are located there</p>
<p>Some courses (e.g. 15/18-746) may be hosted there in the future instead of on this server.</p>
<%= link_to 'CS Autolab', 'https://autolab.cs.cmu.edu', class: 'btn main' %>
</div>
<div class="col-md-6">
<p>Courses on Autolab prior to Spring 2015 are viewable at oldautolab.cs.cmu.edu.</p>
<%= link_to 'Old Autolab Courses', 'https://oldautolab.cs.cmu.edu', class: 'btn main' %>
</div>
</div>


