
<h1>Contact Autolab</h1>

<p class="lead">
Hey there! We're committed to doing the absolute best job we can to make your
experience on Autolab amazing. Here are some frequently asked questions:
</p>

<div class="row">
  <div class="col l6">
    <h3>I have an issue with the way my assignment was graded.</h3>
    <p>
    That's not exactly a question, but you should probably check with your
    professor. They're the ones who can help with regrades, getting grading
    feedback, questions about due dates, and other class-specific details.
    </p>
  </div>
  <div class="col l6">
    <h3>Can you add me to [this class I'm supposed to be in]?</h3>
    <p>
    No, sorry. Once again, you'll have to check with your professor for this one.
    </p>
  </div>
</div><!-- container -->
<hr>
<div class="row">
  <div class="col l6">
    <h3>I'm seeing a picture of Donkey Kong... what just happened?</h3>
    <p>
    Something with Autolab just broke&mdash;it definitely wasn't supposed to
    happen. Read the next two questions to figure out where to go from here!
    </p>
  </div>
  <div class="col l6">
    <h3>What should I do if I've encountered an error or if I'd like to request a feature?</h3>
    <p>
    Jump on over to our <b><a href="https://github.com/autolab/Autolab/issues/">issue tracker
    on GitHub</a></b>. From there, you can search for already-reported issues (to make
    sure the one you have in mind hasn't already been reported) and then create an
    issue detailing what's wrong or what you'd like to see happen. Make sure to read
    below for what makes a good error report.
    </p>
  </div>
  <div class="col l6">
    <h3>I don't have a GitHub account or I'd like a little bit more personalized bug resolution experience. Is there an alternative to the issue tracker?</h3>
    <p>
    In this case, feel free to send an email to the Autolab developers mailing list,
    </p>
    <p>
    <b><%= Rails.configuration.school['support_email'] %></b>
    </p>
    <p>
    We get a good deal of traffic on this list, but we'll make our best effort to
    get back to as soon as we can. Make sure to read below for what makes a good
    error report.
    </p>
  </div>
  <div class="col l6">
    <h3>What makes a good error report?</h3>
    <p>
    When reporting an issue or requesting a feature, please be as descriptive as possible! Good issue reports have
    <ul>
      <li>screenshots</li>
      <li>stack traces (if you saw an error page and it gave you one)</li>
      <li>a description of what you think you did to generate the error</li>
      <li>a description of what you think should have happened</li>
    </ul>
    </p>
  </div>
</div><!-- container -->
<hr>
<div class="row">
  <div class="col l6">
    <h3>Where can I learn more about Autolab?</h3>
    <p>
    For more information about the Autolab Project and team, check out our <b><a href="http://www.autolabproject.com/">
      project page</a></b>. For more information about how to get started using Autolab for your own autograding
      adventures, check out the <b><a href="https://github.com/autolab/Autolab/">GitHub repository</a></b>.
      The README and the Wiki have good documentation about how to get up and running.
      If you encounter an issue along the way, report it or send us an email!
    </p>
  </div>
  <div class="col l6">
    <h3>Can I help with Autolab development?</h3>
    <p>
    Yes! Autolab is completely open source, from the frontend Rails app to the backend autograding and VM management
      system called <b><a href="https://github.com/autolab/Tango">Tango</a></b>, and we welcome any external
      contributions. If you're interested in contributing to Autolab,
      check out the <b><a href="https://github.com/autolab/Autolab/">GitHub repository</a></b>!
    </p>
  </div>
</div><!-- container -->
