<% @title = "Developer Login" %>

<h4>Development Autolab</h4>
<p>
  Enter the email of the user you wish to sign in as.
</p>

<%= form_tag do %>
  <div class="input-field">
    <%= email_field_tag :email, nil, autocomplete: "email" %>
    <label for="email">Email</label>
  </div>
  <%= submit_tag 'Sign In', { class: "btn primary" } %>
<% end %>
