<h2>Welcome to Development Autolab!</h2>
<h3>Please enter the email you would like:</h3>

<%= form_tag do %>
  Email: <%= email_field_tag 'email' %>
  <br><br><br>
  <%= submit_tag 'Go!', {:class=>"btn primary"} %>
<% end %>
