<h2>Development Autolab</h2>

<h3>Sign in as user</h3>
<%= form_tag do %>
  Email: <%= email_field_tag 'email', "", autocomplete: "email" %>
  <br><br><br>
  <%= submit_tag 'Sign In', { class: "btn primary" } %>
<% end %>
