
<h1>Welcome to Autolab!</h1>

<p class="lead">
Hey there! We noticed that you're not currently associated with any courses.
Here are some resources to get you started.
</p>

<h2>For students</h2>

<div class="container">
  <div class="row">
    <div class="col l6">
      <h3>How can I join a course?</h3>
      <p>
      If your instructor has provided you with an access code, you can join the course via the button below.

      Otherwise, fire off an email to your instructor and they can make sure that you get added.
      </p>
      <%= link_to "<i class='material-icons left'>add</i> Join Course".html_safe, join_course_courses_path, title: "Join Course", class: "btn btn-large red darken-3" %>
    </div>
  </div><!-- row -->
</div><!-- container -->

<h2>For instructors</h2>

<div class="container">
  <div class="row">
    <div class="col l6">
      <h3>How can I create my course?</h3>
      <p>
      You should ask your system administrator to create your course for you. If
      you're also the system administrator, see the section below!
      </p>
    </div>

    <div class="col l6">
      <h3>How do I manage my course?</h3>
      <p>
      We've got a bunch of documentation for how to create documentation online
      at <a href="https://docs.autolabproject.com/">https://docs.autolabproject.com/</a>.
      Specifically, you'll want to check out the
      <a href="https://docs.autolabproject.com/instructors/">Instructor
      Guide</a>.
      </p>
    </div>
  </div><!-- row -->

  <div class="row">
    <div class="col l6">
      <h3>How do I write an assessment autograder?</h3>
      <p>
      The instructions for creating labs, autograders, and assessments are also
      online at
      <a href="https://docs.autolabproject.com/">https://docs.autolabproject.com/</a>,
      in the section called
      <a href="https://docs.autolabproject.com/lab/">Lab Author Guide</a>.
      </p>
    </div>
  </div><!-- row -->
</div><!-- container -->

<h2>For administrators</h2>

<div class="container">
  <div class="row">
    <div class="col l6">
      <h3>I just set up Autolab. How can I make myself an admin?</h3>
      <p>
      We have a Rake task that you can run where your app is deployed to promote
      any user to the admin level. Just run <code>rake
      'admin:promote_user[you@example.com]'</code> to give a user administrative
      privileges. Note that the user has to exist already.
      </p>
    </div>

    <div class="col l6">
      <h3>Where can I keep up to date on releases and updates?</h3>
      <p>
      You can see information about each official release of Autolab
      <a href="https://github.com/autolab/Autolab/releases">on GitHub</a>.
      </p>
    </div>
  </div><!-- row -->

  <div class="row">
    <div class="col l6">
      <h3>Where is the Autolab documentation?</h3>
      <p>
      We've migrated our documentation to the Github Docs
      <ul>
        <li><a href="https://docs.autolabproject.com/">Autolab Docs</a></li>
      </ul>
      </p>
    </div>

    <div class="col l6">
      <h3>Can I get in contact with the Autolab developers?</h3>
      <p>
      Yes, we love hearing from our users!
      <ul>
        <li>
        If you have feature suggestions or are experiencing a minor bug, use our
        <a href="https://github.com/autolab/Autolab/issues/">issue tracker</a>.
        </li>
        <li>
        If you need help troubleshooting something related to Autolab that
        doesn't belong on our issue tracker, you can email us at <b><%= Rails.configuration.school['tech_email'] %></b>.
        </li>
      </ul>
      </p>
    </div>
  </div><!-- row -->
</div><!-- container -->

<%= begin
      render partial: "topannounce"
    rescue StandardError
      nil
    end %>
