<br>
<h2>Sorry, we didn't find your account in any course on this server.</h2>

<p>Please contact your professor or course 
staff to be added to your course. The course rosters are not synced from the 
HUB, so this error is very common (and easily fixed) if you were added to the 
course recently or are on a waitlist.</p>

<%= render :partial => "topannounce" %>
