<h2>Autograding Images Currently in Use</h2>

<table class="prettyBorder">
  <thead>
    <tr>
      <th>VM Image Name</th>
      <th>Courses Using VM Image</th>
    </tr>
  </thead>
  <tbody>
    <% @images.each do |image, courses| %>
      <tr>
        <td><kbd><%= image %></kbd></td>
        <td><%= courses %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h3>Some Image Descriptions</h3>

<ul>
  <li><kbd>rhel.img: </kbd> Standard Andrew RHEL6 Linux image</li>
  <li><kbd>rhel122.img: </kbd> Andrew image with C0</li>
  <li><kbd>rhel210.img: </kbd> Andrew image with SML and LLVM</li>
  <li><kbd>rhel-02.img: </kbd> Andrew image with Go</li>
  <li><kbd>rhel61compilers-01.img: </kbd> Andrew image with SML</li>
  <li><kbd>rhelfuse.img: </kbd> Andrew image with fuse module</li>
  <li><kbd>rhel18732.img: </kbd> Andrew image with client and server users</li>
</ul>