<div class="modal-content">
  <div id="active-annotation-form"></div>
  <div class="base-annotation-line annotation-line">
    <%= render "annotation_form", global: true, popup: true %>
  </div>
</div>
