<div class="annotationPane">
  <h3 class="annotationHeader">Summary</h3>
  <% if @problemSummaries.empty? then %>
    <% if (@cud.instructor? or @cud.course_assistant?) then %>
      <p>Hover over a line of code and click the green box to annotate.<br><br><b>Note: Point tweaks here don't affect the gradebook.</b></p>
    <% else %>
      <p>Nothing to summarize yet.</p>
    <% end %>
  <% else %>
    <div id="summaryList">
      <% if (@cud.instructor? or @cud.course_assistant?) then %>
        <b><div class="problemListItem">Note: Point tweaks here don't affect the gradebook.</div></b>
      <% end %>
      <% @problemSummaries.each do |problem, descriptTuples| %>
        <hr>
        <div class="problemListItem"> <%= "Problem: #{problem} [#{plus_fix(@problemGrades[problem])}]" %>
          <ul id="problem-list-<%= problem %>">
          <% descriptTuples.each do |descript, value, line, user, id| %>
            <li class="descript" id="li-annotation-<%= id %>"><%= (user ? "line: #{line}, #{descript} [#{plus_fix(value)}] (#{user})" : "line: #{line}, #{descript} [#{plus_fix(value)}]") %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
    </div>
  <% end %>
  <hr>
  <input type="checkbox" id="highlightLongLines">
  <label for="highlightLongLines">Highlight lines longer than 80 characters</label>
  <hr>
  <input type="button" value="Reload Summary" class="btn primary" onclick="reloadSummary()">
</div>