<div class="base-global-annotation-form global-annotation-form">
  <div class="annotation-form-header" style="display: none"> Add global annotation </div>
  <%= render "annotation_form", global: true %>
</div>
