<div id="symbol-tree-container">
<% unless (@is_pdf || @ctag_obj.nil?) %>
    <div id="symbol-tree-box">
        <ul>
        <% @ctag_obj.each do |fdef| %>
            <li onclick="scrollToLine(<%= fdef['line'] %>)">
                <%= image_tag "function_icon.svg" %>
                <%= fdef["name"] %>
            </li>
        <% end %>
        </ul>
    </div>
<% end %>
</div>
