<% content_for :stylesheets do %>
  <style type="text/css">
    code {font-weight:bold;}
    code.template {font-size:14px;}
  </style>
<% end %>

<div style="width:300px">
  <p>Click on a line of code to annotate. You will see text boxes for a comment, value and problem. If you enter a value, your annotation will be added to the summary. Try tabbing between boxes to save time.</p>
<% if params[:id] %>
  <%= button_to "Back", :controller => "submission", :action => "view", :id => params[:id] %>
<% end %>
</div>
<hr />
<div style="width:485px">
<h3>Here are the different ways you can annotate your code.</h3>
<code class="template">Simple Annotation </code>
<ul>
  <li>Ex: <code>Nice Comments</code></li>
  <li>We will only summarize annotations with square brackets (<code>[</code> , <code>]</code>).</li>
</ul>
<code class="template">Comment [value:problemName]</code>
<ul>
  <li>Ex: <code>Line Too Long [-1]</code></li>
  <li>Ex: <code>Clever Algorithm [+2:style]</code></li>
  <li>Ex: <code>Indentation Problem [-1:#3]</code></li>
  <li>The problemName is optional.</li>
  <li>Instead of typing a problemName, you can type a shortcut (e.g. <code>#3</code>). See the legend titled <em>Problem Name Shortcuts</em>.</li>
</ul>
<code class="template">Comment1 [value1:problem1]; Comment2 [value2:problem2]</code>
<ul>
  <li>Ex: <code>Indentation Problem [-1:style]; Bonus [+1:#3]</code></li>
  <li>A semicolon separates two or more separate annotations. These annotations can be any of the above types.</li>
</ul>
<h3>Additional Notes</h3>
<ul>
  <li>These annotations do not affect the actual scores on these problems.</li>
  <li>The annotation summary does not automatically update when you submit an annotation. Click the <em>Reload</em> button to reload the annotation summary.</li>
  <li>Points can be positive or negative.</li>
  <li>Any line of code greater than 80 characters will wrap onto the next line.</li>
</ul>
</div>
