# MySQL Configuration
#development:
#  adapter: mysql2
#  database: <username>_autolab_development
#  pool: 5
#  username: <username>
#  password: '<password>'
#  socket: /var/run/mysqld/mysqld.sock
#  host: localhost

SQLite Configuration
development:
  adapter: sqlite3
  database: db/db.sqlite3
  pool: 5
  timeout: 5000

test:
  adapter: mysql2
  database: <username>_autolab_test
  pool: 5
  username: <username>
  password: '<password>'
  socket: /var/run/mysqld/mysqld.sock
  host: localhost
