Hello <%= @user.first_name || @user.email %>,

<p>An admin has changed the password to your account</p>

<p>Your new password is: <%= @password %></p>

<p>Please remember to reset your password once you login.</p>