var state = {onqueue:false, grading:false};

function ordinal_suffix_of(i) {
    var j = i % 10,
        k = i % 100;
    if (i == 1)
        return "next"

    if (j == 1 && k != 11) {
        return i + "st";
    }
    if (j == 2 && k != 12) {
        return i + "nd";
    }
    if (j == 3 && k != 13) {
        return i + "rd";
    }
    return i + "th";
}

function on_change(queueInfo=null){
    
    let change = -1;
    let new_state = state;
    console.log(state);
    console.log(queueInfo);

    if(!state.onqueue && queueInfo.onqueue){
      change = 0;
      new_state.onqueue = true;
    }
    else if (!state.grading && queueInfo.grading){
      change = 1;
      new_state.start_time = queueInfo.created_at;
      new_state.grading = true;
    }
    else if (state.grading && queueInfo.grading){
      change = 2;
    }
    else if(state.grading && !queueInfo.grading){ 
      change = 3;
      new_state.end_time = queueInfo.created_at;
      new_state.grading = false;
    }

    let seconds = 0;
    switch(change){

        case 0: // becoming on queue

            document.getElementById("loading_area").innerHTML =
            "<center><img class='loader' src = <%= asset_path('loader.gif')%> />" +
            "<div class='centered'><h3 class='nopad'>"+  ordinal_suffix_of(queueInfo.number) + "</h3> in queue</div>"+
            "<center>";
            
            document.getElementById("information_area").innerHTML = 
            "<h3> Waiting to be Autograded </h3>"+
            "<p><b>" + assignment_name + "</b> has been succussfully submitted<br>" +
            "The submission is currently on the queue to be autograded </p>"+
            "<p> (It's okay to leave and come back to check your score later! )</p>";
            break;

        case 1:
            seconds = Date.now()/1000 - new_state.start_time;
            if(seconds < 0) seconds = 0;

            document.getElementById("loading_area").innerHTML =
            "<center><img class='loader' src = <%= asset_path('loader.gif')%> />" +
            "<center>";

            document.getElementById("information_area").innerHTML = 
            "<h3> Autograding in process... </h3>" +
            "Your submission of <b>" + assignment_name + "</b> is currently being autograded </p>" +
            "<p><b>"+ Math.floor(seconds/60)+" mins "+ Math.floor(seconds%60) + " secs </b> has elapsed</p>" +
            "<p> Please wait for your autograded score! </p>";
            break;

        case 2:
            seconds = Date.now()/1000 - new_state.start_time;
            if(seconds < 0) seconds = 0;

            document.getElementById("information_area").innerHTML = 
            "<h3> Autograding in process... </h3>" +
            "Your submission of <b>" + assignment_name + "</b> is currently being autograded </p>" +
            "<p><b>"+ Math.floor(seconds/60)+" mins "+ Math.floor(seconds%60) + " secs </b> has elapsed</p>" +
            "<p> Please wait for your autograded score! </p>";
            break;
        
        case 3:
            seconds = new_state.end_time - new_state.start_time;
            document.getElementById("loading_area").innerHTML =
            "<center><img class='fade-in' src = <%= asset_path('logo.svg')%> /><center>";

            document.getElementById("information_area").innerHTML = 
            "<h3> Autograding complete </h3>"+
            "<p> Completed in <b>" + Math.floor(seconds/60)+" mins "+ Math.floor(seconds%60) + "</b> secs.</p>"+
            "Your submission of <b>" + assignment_name + "</b> has been succussfully autograded</p>" +
            "<p> This page will refresh by itself </p>";
            setTimeout(function(){ location.reload() }, 2500);
            break;
        default:
            document.getElementById("loading_area").innerHTML = "<b> Nothing left to autograde! </b>";
            document.getElementById("information_area").innerHTML = "";
            break;

    }

    state =  new_state
}

