<%= form_with url: { action: :create_from_tar }, builder: FormBuilderWithDateTimeInput do |f| %>
  <p><b>The following assessments were imported successfully. Please select the assessments you would like to install:</b></p>
    <table class="prettyBorder" id="assessment_names">
      <colgroup>
        <col span="1" style="width: 50px;">
        <col span="1">
      </colgroup>
      <tbody>
        <tr>
          <td><em>Install?</em></td>
          <td><em>Assessment</em></td>
        </tr>
        <% @unused_config_files.each do |asmt_file| %>
          <tr class="assessment-field checked">
            <td>
              <label>
                <%= check_box_tag 'install_assessments[]', asmt_file, true, class: 'cbox', id: "#{asmt_file}_checkbox" %>
                <span />
              </label>
            </td>
            <td>
              <%= link_to asmt_file, importAssessment_course_assessments_path(@course, assessment_name: asmt_file), method: :post, class: "collection-item import" %>
            </td>
          </tr>
        <% end %>
        <a id="installSelected" class="btn">Install Selected</a>
        <a id="unselectAll" class="btn">Unselect All</a>
    </tbody>
  </table>
  <%= %>
  <br>
<% end %>
