<%= form_with url: { action: :create_from_tar }, builder: FormBuilderWithDateTimeInput do |f| %>
    <table class="prettyBorder" id="assessment_names">
      <colgroup>
        <col span="1" style="width: 50px;">
        <col span="1">
      </colgroup>
      <tbody>
        <% @unused_config_files.each do |ass_file| %>
          <tr class="course-field checked">
            <td>
              <label>
                <%= check_box_tag 'install_assessments[]', ass_file, true, class: 'cbox', id: "#{ass_file}_checkbox"%>
                <span/>
              </label>
            </td>
            <td><%= ass_file %></td>
          </tr>
        <% end %>
        <a id="importAll" class="btn">Import All</a>
        <a id="unselectAll" class="btn">Unselect All</a>
    </tbody>
  </table>
  <br />
<% end %>