<table class="prettyBorder" id="course_fields">
  <colgroup>
    <col span="1" style="width: 50px;">
    <col span="1">
  </colgroup>
  <tbody>
    <tr class="course-field checked"> 
      <td>
        <label>
          <input disabled=true class="cbox" type="checkbox" id="course_config_checkbox" checked >
          <span/>
        </label>
      </td>
      <td>Course configuration</td>
    </tr>
    <tr class="course-field">
      <td>
        <label>
          <input class="cbox" type="checkbox" id="assessments_checkbox">
          <span/>
        </label>
      </td>
      <td>Assessments</td>
    </tr>
    <tr class="course-field">
      <td>
        <label>
          <input class="cbox" type="checkbox" id="metrics_config_checkbox">
          <span/>
        </label>
      </td>
      <td>Metrics configuration</td>
    </tr>
  </tbody>
</table>

<br />

<div class="row">
  <div>
    <a class="btn" id="export_btn" >Export</a>
  </div>
</div>