<table class="prettyBorder" id="course_fields">
  <thead>
    <tr>
      <th>
      </th>
      <th>Course fields</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <p>
          <label>
            <input class="cbox" type="checkbox" id="course-config">
            <span/>
          </label>
        </p>
      </td>
      <td>
        <p>Course configuration</p>
      </td>
    </tr>
    <tr>
      <td>
        <p>
          <label>
            <input class="cbox" type="checkbox" id="assessments">
            <span/>
          </label>
        </p>
      </td>
      <td>
        <p>Assessments</p>
      </td>
    </tr>
    <tr>
      <td>
        <p>
          <label>
            <input class="cbox" type="checkbox" id="metrics-config">
            <span/>
          </label>
        </p>
      </td>
      <td>
        <p>Metrics configuration</p>
      </td>
    </tr>
  </tbody>
</table>

<br />

<div class="row">
  <div>
    <a class="btn">Export</a>
    <a class="btn">Select All</a>
  </div>
</div>