<h3>Create New Course from Tarball</h3>

<%= form_with url: { action: :create_from_tar }, builder: FormBuilderWithDateTimeInput do |f| %>
  <p>
    If you have an existing Autolab course, then you can import it into this course:
  </p>
  <ul>
    <li>
      1: Go into Manage Course in the existing Autolab course
    </li>
    <li>
      2: On the left sidebar, click “Export Course”
    </li>
    <li>
      3: Select the fields you would like to export and click the export button.
    </li>
  </ul>
  <%= f.file_field :tarFile, required: true,
                             help_text: "This tarball should have come from Autolab, and contains course configuration data" %>

  <div class="input-field">
    <label class="control-label" for="instructor_email">Instructor Email</label>
    <%= email_field_tag :instructor_email, nil, class: "validate", placeholder: "", required: true, autocomplete: "email" %>
    <p class="help-block">Email of an Instructor, they will set up the course from here!</p>
  </div>

  <%= f.submit "Create Course", { class: "btn primary" } %>
<% end %>
