<% @title = "Export Course" %>

<% content_for :stylesheets do %>
  <%= stylesheet_link_tag "export" %>
<% end %>

<% content_for :javascripts do %>
  <%= javascript_include_tag "export_course" %>
<% end %>

<h2>Export Course</h2>
<p id="export_description">Select fields to include in the export:</p>

<%= render partial: "exportForm" %>
