.contact-page {
    .contact-card .card-content .card-title {
        display: flex;
        align-items: center;
        gap: 0.2rem;
    }
    .contact-card .card-content .card-title .contact-icon {
        font-size: 1.5rem;
    }
}