/********************************************************
* Autolab Specific CSS variables *
********************************************************/
$autolab-red: rgba(153, 0, 0, 0.9);
$autolab-subtle-red: #c87b7e;
$autolab-subtle-gray: #eee;
$autolab-highlight-gray: #ccc;
$autolab-black-text: #212121;
$autolab-blue-text: #0869af;
$autolab-green: #3a862d;
$autolab-white: #fff;
$autolab-medium-gray: #6f6f6f;
$autolab-submissions-background: #EBEBEA;
$autolab-excused-popover-background: #00000040;
$autolab-black: #000000;
$autolab-light-grey: #ebebeb;
$autolab-grey: #A1A0A3;
$autolab-dark-grey: #3D3E3D;
$autolab-label: rgba(140, 0, 0, 0.95);
$autolab-border: 1px solid #ddd;
$autolab-sky-blue: #dceaf5;
