/********************************************************
* Autolab Specific CSS variables *
********************************************************/
$autolab-red: rgba(153, 0, 0, 0.9);
$autolab-subtle-red: #c87b7e;
$autolab-subtle-gray: #eee;
$autolab-highlight-gray: #ccc;
$autolab-black-text: #212121;
$autolab-blue-text: #0869af;
$autolab-green: #3a862d;
$autolab-white: #fff;
