#package-suggestions {
  border: 1px solid #ccc;
  max-height: 200px;
  overflow-y: auto;
  margin-top: -32px;
  position: absolute;
  background: white;
  list-style-type: none;
  padding-left: 0;
  z-index: 100;
}

#package-suggestions li {
  padding: 6px;
  cursor: pointer;
}

#package-suggestions li:hover {
  background: #eee;
}
