@charset "utf-8";
@import 'variables';
/* Overarching Rules */

.page-wrapper {
  height: 100vh;
  overflow: hidden;
}

#speedgrader {
  max-height: calc(100vh - 178px);
}

.submission-controls select {
  height: 2rem;
  display: inline-block;
  width: 5ch;
}

.submission-controls .btn {
  height: 2rem;
  display: inline-flex;
  align-items: center;
}

#code-loader {
  height: 50vh;
  display: flex;
  background: blue;
  position: fixed;
  margin: auto;
  z-index: 100;
}

.code-table {
  background: #fcfcfc;
  border: 1px solid $autolab-highlight-gray;
  max-height: calc(100vh - 260px);
  overflow: auto;
}

#code-box.loading .code-table {
  filter: blur(1px);
  pointer-events: none;
}

.code-table .code-line:hover {
  background: #d5d5d5;
}

.code-table .code-line pre {
  padding: 0;
  margin: 0;
}

.code-table .code-line {
  display: flex;
  align-items: center;
  height: 28px;
  min-width: 100%;
  background: inherit;
}

.code-table .line-sticky {
  position: sticky;
  left: 0;
  background: inherit;

  height: 100%;

  display: flex;
}

.code-table .line-number {
  text-align: left;
  margin: 0 5px 0 5px;
  font-family: 'Courier New', Courier, monospace;

  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;

  min-width: 36px;
  background: inherit;
}

.code-table .code-separator {
  height: 100%;
  background: $autolab-highlight-gray;
  width: 2px;
  margin: 0;
  padding: 0;
}

#code-box .file-header {
  border: 1px $autolab-highlight-gray solid;
  top: 0;
  left: 0;
  z-index: 999;
  background: inherit;
  display: flex;
}

#code-box .file-header .file-name {
  border-right: 1px $autolab-highlight-gray solid;
  padding: 5px;
  display: flex;
  align-items: center;
  margin-right: auto;
}

#code-box .file-button {
  border-left: 1px $autolab-highlight-gray solid;
  padding: 5px;
  display: flex;
  align-items: center;
}

#code-box .file-button:hover{
  background: $autolab-subtle-gray;
}

#code-box .file-button span {
  background: #cbcbcb;
  padding: 2px;
  border-radius: 1px;
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  cursor: pointer;
}

.code-table .code-line:hover .add-button {
  visibility: visible;
}

.code-table .add-button-container {
  display: flex;
  align-items: center;
  justify-items: center;
  width: 30px;
}

.code-table .add-button {
  background: #090;
  outline: none;
  border: none;
  margin: 1px;
  padding: 0;
  color: #fff;
  border-radius: 5px;
  text-align: center;
  width: 24px;
  height: 24px;
  visibility: hidden;
}

.code-table .annotation-container {
  position: sticky;
  left: 0;
}

.code-table .annotation-line {
  width: 100%;
  display: flex;
  height: 100%;
  align-items: stretch;
}

.code-table .annotation-line .point_badge {
  padding: 0 8px;
  border-radius: 100vw;
  margin-right: 5px;
  color: white;
  font-weight: bold;
}
.code-table .annotation-line .point_badge.positive {
  background: #57d66a;
}
.code-table .annotation-line .point_badge.negative {
  background: #ec612a;
}
.code-table .annotation-line .point_badge.neutral {
  background: #818181;
}

.code-table .annotation-line .problem {
  background: #818181;
  margin-left: -8px;
  border-top-left-radius: 100vw;
  padding-left: 8px;
  padding-right: 3px;
  border-bottom-left-radius: 100vw;
}

.code-table .annotation-line .annotation-tools .material-icons {
  position: relative;
  top: 5px;
}

.code-table .annotation-line .annotation-box {
  border: 1px solid $autolab-highlight-gray;
  background: white;
  margin: 0 10px;
  margin-bottom: 5px;
}

.code-table .annotation-line .annotation-box .annotation-separator {
  height: 1px;
  background: $autolab-highlight-gray;
}

.code-table .annotation-line .annotation-box .annotation-header {
  display: flex;
  background: $autolab-highlight-gray;
  padding: 5px;
  font-weight: bold;
  justify-content: center;
  align-items: center;
}

.code-table .annotation-line .annotation-box .annotation-header .annotation-tools {
  margin-left: auto;
}

.code-table .annotation-line .annotation-box .annotation-body {
  padding: 5px;
}

.code-table .annotation-line .annotation-box .annotation-body div {
  margin: 5px 0;
  font-family: 'Source Sans Pro', sans-serif;
  white-space: pre-line;
}


.code-table .annotation-line .annotation-form {
  border: 1px solid $autolab-highlight-gray;
  padding: 5px;
  margin: 0 10px;
  margin-bottom: 5px;
  width: 100%;
}

.code-table .annotation-line .annotation-form .error {
  padding: 5px;
  margin: 5px;
  border: 1px solid red;
}

.code-table .annotation-line .annotation-preview {
  border: 1px solid $autolab-highlight-gray;
  padding: 5px;
  margin: 0 10px;
  width: 100%;
}

.code-table .float-left {
  float: left;
}

.code-table .float-right {
  float: right;
}

.code-table .float-left {
  clear: both;
}

#code_error {
  padding: 2% 5%;
  background: $autolab-subtle-gray;
}

#code-list {
  padding-top: 16px;
  padding-left: 24px;
  background-color: white;
  margin-left: 18px;
  margin-bottom: 0;
      counter-reset: item;
    list-style-type: none;
  margin-top: 0;
}

#code-list li { display: block; }
#code-list li:before {
    content: counter(item) "  ";
    counter-increment: item;
    margin-left: -32px;
    padding-right: 12px;
    font-size: 10px;
    font-weight: bold;
    font-family: 'Source Sans Pro', sans-serif;
}

#code-list > li:hover {
  /* annotations show up on mouseover */
  background-color: #fcfcfc;
  opacity: 1.0;
  cursor: pointer;
}
#code-list > li {
  position: relative;
  background: white;
  padding: 3px 1px;
  padding-left: 6px;
  margin-left: -22px;
}

#code-list > li > code {
  position: absolute;
  left: 0;
}

.add-annotation-btn {
  background: #090;
  color: #fff;
  visibility: hidden;
  border-radius: 4px;
  box-shadow: 0 1px 4px rgba(0,0,0,0.15);
}

.add-annotation-btn:hover {
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Chrome, Safari, Opera */
  transform: scale(1.2);
}

#code-list > li:hover > .add-annotation-btn {
  display: inline;
}

.ann-box {
  border: 3px solid #ddd;
  border-radius: .25em;
  margin: .5em;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  overflow: hidden;
  z-index: 3;
}

.ann-box:hover {
  border: 3px solid #bbb;
}

.ann-box > .header {
  background: $autolab-subtle-gray;
  padding: .5em;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ann-box > .header > .delete,
.ann-box > .header > .minimize,
.ann-box > .header > .edit {
  border: 1px solid transparent;
  display: block;
  font-weight: bold;
  text-align: center;
  width: 2em;
  color: #666;
  border-radius: 4px;
  cursor:pointer;
}

.ann-box > .maximize{
  color: #666;
  cursor:pointer;
}


.ann-box .score-box {
  float: right;
  background-color: #ddd;
  border-radius: 2px;
  font-size: 10px;
  margin-right: 4px;
  overflow: hidden;
}

.ann-box .score-box span {
  line-height: 20px;
  padding: 4px;
}

.ann-box .score-box span:first-child {
  background-color: $autolab-highlight-gray;
}

.ann-box > .header > .minimize:hover,
.ann-box > .header > .delete:hover,
.ann-box > .header > .edit:hover {
  border: 1px solid $autolab-highlight-gray;
}

.ann-box > .body {
  background: #fff;
  padding: .5em;
}

.annotation-edit-form {
  border-radius: 4px;
  font-family: 'Source Sans Pro', sans-serif;
  padding-bottom: 5px;
  background-color: #fff;
  text-align:left;
  font-size: 14px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.137255) 0px 0px 4px 0px, rgba(0, 0, 0, 0.278431) 0px 4px 8px 0px;
  box-shadow: rgba(0, 0, 0, 0.137255) 0px 0px 4px 0px, rgba(0, 0, 0, 0.278431) 0px 4px 8px 0px;
  z-index: 3;
}

.annotation-form hr {
  margin-top: 10px;
  margin-bottom: 10px;
}

#code-box pre {
  padding-top: 0;
  padding-bottom: 0;
}

#pdf-doc .annotation-form  {
  position: absolute;
  width: 400px;
  text-align:left;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.137255) 0px 0px 4px 0px, rgba(0, 0, 0, 0.278431) 0px 4px 8px 0px;
  box-shadow: rgba(0, 0, 0, 0.137255) 0px 0px 4px 0px, rgba(0, 0, 0, 0.278431) 0px 4px 8px 0px;
  z-index: 3;
}

#pdf-doc .annotation-form > label , #pdf-doc .annotation-edit-form > label {
  font-size: 16px;
  color: #444;
  font-weight: bold;
  padding-left:10px;
  padding-right:10px;
}

#pdf-doc .annotation-form > div, #pdf-doc .annotation-edit-form > div{
  padding-right:10px;
  padding-left:10px;
}

#pdf-doc .annotation-form > .btn, #pdf-doc .annotation-edit-form > .btn {
  margin-left: 10px;
}

#pdf-doc .ann-box {
  -webkit-box-shadow: rgba(0, 0, 0, 0.137255) 0px 0px 4px 0px, rgba(0, 0, 0, 0.278431) 0px 4px 8px 0px;
  box-shadow: rgba(0, 0, 0, 0.137255) 0px 0px 4px 0px, rgba(0, 0, 0, 0.278431) 0px 4px 8px 0px;
  width: 200px;
  background-color: #fff;
  text-align: left;
}

#pdf-doc .ann-box .header {
  cursor: move;
}

#pdf-doc .ann-box .body {
  color: #e22a2a;
  font-size: 15px;
}

#pdf-doc .ann-box .score-box {
  float: none;
  color: black;
  border-radius: 2px;
  font-size: 12px;
  margin-right: 4px;
  overflow: hidden;
  display: block;
  padding: 0.5em;
  background-color: #fff;
}

#pdf-doc .ann-box .score-box span:first-child {
  background-color: transparent;
}

.add-annotation-btn .material-icons {
  position: relative;
  top: -2px;
  left: -2px;
}

.header > .grader {
  flex: 2 0 0;
}

.collapse_expand{
  margin-bottom:10px;
}

/* Diff Viewer Styling CSS */
#diff-viewer tr {
  border-bottom: none;
}
#diff-viewer td {
  padding: 0;
}
#diff-viewer .hljs {
  overflow-x: visible;
}

// Hide the "changed" box
#diff-viewer .d2h-changed {
  display: none;
}

// Make the diff viewer scrollable
#diff-viewer .d2h-file-side-diff {
  overflow-y: scroll;
  max-height: calc(100vh - 235px);
}
#diff-viewer .d2h-code-side-linenumber {
  position: static;
}

/* Annotation Pane Styling CSS */
#annotationPane{
  display: flex;
  flex-flow: column;
  height: 100%;
  overflow-y: auto;
}
#loadScreen {
  height: inherit;
  width: 100%;
  position: absolute;
  background-color: rgba(0,0,0,.3);
  display: none;
  pointer-events: none;
  justify-content: center;
  align-items: center;
}
.annotationSummary{
  margin-bottom: 15px;
  color: #4f4f4f;
}
.annotationSummary .annotation-form-header {
  background-color: $autolab-blue-text;
  padding: 8px 15px 8px 10px;
  font-weight: normal;
  color: white;
}
.annotationSummary ul {
  box-shadow: none;
  border: none;
  margin: 10px 0;
}

.annotationSummary .collapsible-header-wrap {
  display: flex;
}

.annotationSummary .collapsible-header-controls {
  margin-left: auto;
}

.annotationSummary .collapsible-header{
  min-height: inherit;
  line-height: inherit;
  border: none;
  padding: 5px;
  padding-left: 10px;
  user-select: none;
}

.annotationSummary .collapsible-header h4{
  margin: 3px;
  font-size: 1.1em;
}

.annotationSummary .collapsible-body{
  padding: 0 1rem;
  border: none;
}

.annotationSummary .collapsible-body .file_annotations {
  margin-bottom: 10px;
}

.annotationSummary .collapsible {
  overflow: auto;
}

.annotationSummary .collapsible li.active i.expand-icon {
  display: none;
}

.annotationSummary .collapsible li:not(.active) i.collapse-icon {
  display: none;
}

.annotationSummary .global-annotation {
  display: flex;
}

.annotationSummary .global-annotation .annotation-badge,
.annotationSummary .descript-link .annotation-badge {
  flex-shrink: 0;
}

.annotationSummary .annotation-description span {
  white-space: pre-line;
  word-break: break-word;
}

.annotationSummary .global-annotation .annotation-tools {
  flex-shrink: 0;
  margin-left: auto;
}

.annotationSummary .global-annotation:not(:hover) .annotation-tools {
  visibility: hidden;
}

.annotationSummary .summary_score {
  float: right;
  font-weight: normal;
}
.annotationSummary .point_badge {
  padding: 0 8px;
  border-radius: 100vw;
  margin-right: 5px;
  color: white;
  font-weight: bold;
}
.annotationSummary .point_badge.positive {
  background: #57d66a;
}
.annotationSummary .point_badge.negative {
  background: #ec612a;
}
.annotationSummary .point_badge.neutral {
  background: #818181;
}

.annotationSummary .line_number {
  background: #818181;
  margin-left: -8px;
  border-top-left-radius: 100vw;
  padding-left: 8px;
  padding-right: 3px;
  border-bottom-left-radius: 100vw;
}

.annotation-comment {
  margin-bottom:0;
  padding-bottom:0 !important;
}

.annotation-problem-score {
  margin-bottom:0;
  margin-top:0 !important;
  padding-bottom:0 !important;
}

.annotation-buttons {
  margin-top:0 !important;
  margin-bottom:0 !important;
}

.problemGrades {
  overflow-y: auto;
}

.collection{
  margin: 0;
  border: none;
}

.problem-grade-item{
  background-color: #fff;
  line-height: 1.5rem;
  padding: 2px 10px;
  margin: 0;
  border-bottom: 1px solid #e0e0e0;
  font-weight: bold;
  font-size: 0.9em;
  color: #7a7a7a;
}

.student_score{
  color: #090;
}


/* File Tree Styling CSS */
.file-explorer{
  max-height: 100%;
  overflow: auto;
}

.file-list{
  color: #333;
}

.folder-contents{
  margin-left:10px;
}

.file, .folder{
  margin-left:5px;
  padding: 3px;
}
.file:not(.active):hover, .folder-name:hover{
  background: $autolab-subtle-gray;
}

.file.active{
  background: #009ff5;
  color: white;
}

.file-list i{
  margin-right: 3px
}

.folder-name{
  cursor: pointer;
}

.folder-name.active .closed-icon{
  display:none;
}

.folder-name:not(.active) .open-icon{
  display:none;
}

.folder-name:not(.active) + .folder-contents{
  display: none;
}

/* Helper class to make text unselectable */
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

/* Symbol Tree Styling */
#symbol-tree-container {
  max-height: 100%;
  overflow: auto;
  padding: 5px;
}

#symbol-tree-box ul {
  font-weight: bold;
  color: gray;
  margin-top: 0;
}

#symbol-tree-box ul li {
  cursor: pointer;
  display: flex;
  align-items: center;
}

#symbol-tree-box ul li:hover {
  background: $autolab-subtle-gray;
}

#symbol-tree-box li img {
  height:15px;
}

/* Loader CSS */

#code-box.loading .lds-spinner{
  display:inline-block;
}

.lds-spinner {
  display:none;
  position: fixed;
  width: 64px;
  height: 64px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.lds-spinner div {
  transform-origin: 32px 32px;
  animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 29px;
  width: 5px;
  height: 14px;
  border-radius: 20%;
  background: #000;
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.descript {
  cursor: pointer;
}

.descript-link {
  display: flex;
  color: inherit;
  text-decoration: inherit;
}

.summary_score{
  padding-left: 10px;
}

/* Autocomplete dropdown */
.ui-menu .ui-menu-item {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
}
.ui-menu-item.ui-state-focus{
  background: rgba(211, 211, 211, 0.526) !important;
  background-image: none !important;
}

.ui-autocomplete {
  max-height: 15rem;
  max-width: 97%;
  overflow-y: auto;
  /* prevent horizontal scrollbar */
  overflow-x: hidden;
}

/* Golden Layout */

.lm_content {
  background: #fff;
}

.lm_header {
  background: #f9f9f9 !important;
}

.lm_title {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
}

/* Disable Bootstrap styling to allow for scrolling within annotations and
 * grades sidebars in file viewer
 * (allows clicking on the scrollbar)
 */
.drag-target.right-aligned {
  display: none;
}

/* Tooltip */
span > .material-icons {
  vertical-align: middle;
  color: grey;
}

.ui-tooltip {
  font-family: 'Source Sans Pro', sans-serif !important;
  font-size: 14px !important;
  box-shadow: 0.5px 0.5px 0.5px 0.5px grey !important;
  border-color: white !important;
}

.hljs-comment span {
  color: var($autolab-highlight-comments) !important;
}

.code-line div {
  background: none !important;
}
