@charset "utf-8";

.row {
  max-height: calc(100vh - 205px);
  overflow: hidden;
}

.code-table {
  background: #fcfcfc;
  border: 1px solid #ccc;
  max-height: calc(100vh - 230px);
  overflow: scroll;
}

.code-table .code-line:hover {
  background: #d5d5d5;
}

.code-table .code-line pre {
  padding: 0;
  margin: 0;
}

.code-table .code-line {
  display: flex;
  align-items: center;
  height: 28px;
  min-width: 100%;
  background: inherit;
}

.code-table .line-number {
  position: sticky;
  left: 0;

  text-align: left;
  margin: 0 5px 0 5px;
  padding-right: 5px;
  font-family: 'Courier New', Courier, monospace;

  border-right: 1px #ccc solid;

  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;

  min-width: 36px;
  background: inherit;
}

.code-table .file-header {
  border-bottom: 2px #ccc solid;

  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;

  background: inherit;

  display: flex;
}

.code-table .file-header .file-name {
  border-right: 1px #ccc solid;
  padding: 5px;
  display: flex;
  align-items: center;
  margin-right: auto;
}

.code-table .file-button {
  border-left: 1px #ccc solid;
  padding: 5px;
  display: flex;
  align-items: center;
}

.code-table .file-button span {
  background: #cbcbcb;
  padding: 2px;
  border-radius: 1px;
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  cursor: pointer;
}



.code-table .code-line:hover .add-button {
  visibility: visible;
}

.code-table .add-button-container {
  display: flex;
  align-items: center;
  justify-items: center;
  width: 30px;
}

.code-table .add-button {
  background: #090;
  outline: none;
  border: none;
  margin: 1px;
  padding: 0;
  color: #fff;
  border-radius: 5px;
  text-align: center;
  width: 24px;
  height: 24px;
  visibility: hidden;
}

.code-table .add-button:hover {
  position: absolute;
  width: 28px;
  height: 28px;
}

#code-list {
  padding-top: 16px;
  padding-left: 24px;
  background-color: white;
  margin-left: 18px;
  margin-bottom: 0;
      counter-reset: item;
    list-style-type: none;
  margin-top: 0;
}

#code-list li { display: block; }
#code-list li:before {
    content: counter(item) "  ";
    counter-increment: item;
    margin-left: -32px;
    padding-right: 12px;
    font-size: 10px;
    font-weight: bold;
    font-family: 'Source Sans Pro', sans-serif;
}

#code-list > li:hover {
  /* annotations show up on mouseover */
  background-color: #fcfcfc;
  opacity: 1.0;
  cursor: pointer;
}
#code-list > li {
  position: relative;
  background: white;
  padding: 3px 1px;
  padding-left: 6px;
  margin-left: -22px;
}

#code-list > li > code {
  position: absolute;
  left: 0;
}
#code-list > li > div {

}

.add-annotation-btn {
  background: #090;
  color: #fff;
  visibility: hidden;
  border-radius: 4px;
  box-shadow: 0 1px 4px rgba(0,0,0,0.15);
}

.add-annotation-btn:hover {
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Chrome, Safari, Opera */
  transform: scale(1.2);
}

#code-list > li:hover > .add-annotation-btn {
  display: inline;
}

.ann-box {
  border: 3px solid #ddd;
  border-radius: .25em;
  margin: .5em;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  overflow: hidden;
  z-index: 3;
}

.ann-box:hover {
  border: 3px solid #bbb;
}

.ann-box > .header {
  background: #eee;
  padding: .5em;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ann-box > .header > .delete,
.ann-box > .header > .minimize,
 .ann-box > .header > .edit {
  border: 1px solid transparent;
  display: block;
  font-weight: bold;
  text-align: center;
  width: 2em;
  color: #666;
  border-radius: 4px;
}

.ann-box .score-box {
  float: right;
  background-color: #ddd;
  border-radius: 2px;
  font-size: 10px;
  margin-right: 4px;
  overflow: hidden;
}

.ann-box .score-box span {
  line-height: 20px;
  padding: 4px;
}

.ann-box .score-box span:first-child {
  background-color: #ccc;
}

.ann-box > .header > .delete:hover,
.ann-box > .header > .edit:hover {
  border: 1px solid #ccc;
}

.ann-box > .body {
  background: #fff;
  padding: .5em;
}

.annotation-form {
  width: 94%;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: 'Source Sans Pro', sans-serif;
  padding: 6px;
  background-color: #fff;
  margin-top: 6px;
  z-index: 5;
}

.annotation-edit-form {
  border-radius: 4px;
  font-family: 'Source Sans Pro', sans-serif;
  padding: 6px;
  background-color: #fff;
}

.annotation-form hr {
  margin-top: 10px;
  margin-bottom: 10px;
}

#code-box pre {
  padding-top: 0;
  padding-bottom: 0;
}

#pdf-doc .annotation-form {
  position: absolute;
  width: 400px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.137255) 0px 0px 4px 0px, rgba(0, 0, 0, 0.278431) 0px 4px 8px 0px;
  box-shadow: rgba(0, 0, 0, 0.137255) 0px 0px 4px 0px, rgba(0, 0, 0, 0.278431) 0px 4px 8px 0px;
}

#pdf-doc .ann-box {
  -webkit-box-shadow: rgba(0, 0, 0, 0.137255) 0px 0px 4px 0px, rgba(0, 0, 0, 0.278431) 0px 4px 8px 0px;
  box-shadow: rgba(0, 0, 0, 0.137255) 0px 0px 4px 0px, rgba(0, 0, 0, 0.278431) 0px 4px 8px 0px;
  width: 200px;
  background-color: #fff;
  text-align: left;
}

#pdf-doc .ann-box .header {
  cursor: move;
}

#pdf-doc .ann-box .body {
  color: #ff0000;
}

#pdf-doc .ann-box .score-box {
  float: none;
  background-color: transparent;
  color: red;
  border-radius: 2px;
  font-size: 12px;
  margin-right: 4px;
  overflow: hidden;
  display: block;
  padding: 0.5em;
  background-color: #fff;
}

#pdf-doc .ann-box .score-box span:first-child {
  background-color: transparent;
}

.add-annotation-btn .material-icons {
  position: relative;
  top: -2px;
  left: -2px;
}

/* pre {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    word-break: break-all;
    word-wrap: break-word;
    color: #333333;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
} */

.header > .grader {
  flex: 2 0 0;
}

.collapse_expand{
  margin-bottom:10px;
}

/* File Tree Styling CSS */
.folder-contents{
  margin-left:10px;
}

.file{
  margin-left:5px;
  padding: 3px;
}
.file:not(.active):hover, .folder-name:hover{
  background: #eee;
}

.file.active{
  background: #009ff5;
  color: white;
}

.file-list i{
  margin-right: 3px
}

.folder-name{
  cursor: pointer;
}

.folder-name.active .closed-icon{
  display:none;
}

.folder-name:not(.active) .open-icon{
  display:none;
}

.folder-name:not(.active) + .folder-contents{
  display: none;
}

/* Helper class to make text unselectable */
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}