@charset "utf-8";

#code-list > li:hover,
#code-list > li:hover .annotation,
#code-list > li:hover .annotationModifier {
  /* annotations show up on mouseover */
  background-color: #DDD;
  opacity: 1.0;
  cursor: pointer;
}
#code-list > li {
  position: relative;
  width: 80ch;
}
#code-list > li > code {
  width: 80ch;
}
#code-list > li > div {
  width: 80ch;
}
.expand {
  background: #090;
  color: #fff;
  display: none;
  left: 100%;
  position: absolute;
}
#code-list > li:hover > .expand {
  display: inline;
}

.ann-box {
  border: 1px solid #ddd;
  border-radius: .25em;
  margin: .5em;
}
.ann-box > .header {
  background: #eee;
  padding: .5em;
}
.ann-box > .header > .delete {
  border: 1px solid #ddd;
  background: red;
  color: white;
  display: inline-block;
  font-weight: bold;
  text-align: center;
  width: 2em;
  float: right;
}
.ann-box > .body {
  background: #fff;
  padding: .5em;
}
