/* ...
* require_self
* require_tree .
*= require bootstrap-datetimepicker
*/

/* For the materialize gem documentation, check out https://github.com/mkhairi/materialize-sass */
$primary-color: #dd2222 !default;
$secondary-color: #dd2222 !default;
@import "materialize";
@import "bootstrap-sprockets";
