@import 'variables';

.date .collection-item {
  padding-left: 24px !important;
  padding-right: 24px !important;
}

.date .collection-item p {
  line-height: 1rem;
}

.date p {
  margin: 0;
  font-size: 0.85rem;
  color: $autolab-gray-text;
}
