@import 'variables';

.mobileonly {
  display: none;
}
.desktoponly {
}
.betaonly {
}
.notbeta {
  display: none;
}

body {
  background-color: #ffffff;
  font-size: 12px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-weight: normal;
  margin: 0px 0px 20px 0px;
  padding: 0px 0px 0px 0px;
}

#cmuHeader {
  position: relative;
  background-color: #990000;
  width: 100%;
  height: 35px;
  margin: 0;
  padding: 0;
  z-index: 9002;
}

#userWelcome {
  color: #ffffff;
  padding: 5px 5px 0px 0px;
  position: absolute;
  top: 5px;
  right: 5px;
  height: 35px;
  font-size: 11px;
}
#userWelcome a:visited {
  color: #d17702;
}

#courseTitle {
  color: #990000;
}

#pageBody {
  padding-left: 2%;
  padding-top: 1%;
}

h1 {
  font-family: Helvetica, sans-serif;
  font-size: 19px;
  font-weight: bold;
  color: #990000;
  padding: 0px;
  margin: 10px 0px 10px 0px;
}
h2 {
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #990000;
  padding: 0px;
  margin: 10px 0;
  max-width: 600px;
  display: block;
}
h3 {
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: #424545;
  padding: 0px;
  margin: 10px 0px 10px 0px;
}
h4 {
  font-family: Helvetica, sans-serif;
  font-size: 12px;
  font-weight: bold;
  color: #424545;
  padding: 0px;
  margin: 10px 0px 10px 0px;
}

ol {
  list-style-position: outside;
}
ul {
  list-style-position: outside;
  list-style-image: url(https://www.cmu.edu/common/images/bullet_content.gif);
}
li {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  color: #424545;
  text-decoration: none;
  font-weight: normal;
  padding: 0px 0px 2px 0px;
  margin-top: 4px;
}

#footer {
  margin-top: 2%;
  font-size: 11px;
}

a {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  color: #d17702;
  text-decoration: underline;
  font-weight: normal;
}
a:hover {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  color: #936241;
  text-decoration: underline;
  font-weight: normal;
}
a:visited {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  color: #936241;
  text-decoration: underline;
  font-weight: normal;
}

table.prettyBorder,
.sortable {
  border-collapse: collapse;
}

table.prettyBorder td,
.sortable td {
  border: 1px solid black;
  text-align: center;
  border-collapse: collapse;
  padding-right: 5px;
  padding-left: 5px;
}
table.prettyBorder th,
.sortable th {
  background-color: #dddddd;
  font-family: Helvetica, sans-serif;
  /*text-transform:lowercase;
	font-variant:small-caps;*/
  font-weight: normal;
  border: 1px solid black;
  border-collapse: collapse;
  font-size: 13px;
  margin: 5px 0px 5px 0px;
  padding: 4px;
}

table.prettyBorder tr:hover,
.sortable tr:hover {
  background-color: #abcdef;
}
input {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 11px;
  color: #424545;
}
input.radio {
  width: auto;
}
input.checkbox {
  width: auto;
}
textarea {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 11px;
  color: #424545;
}
select {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 11px;
  color: #424545;
}
select.option {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 11px;
  color: #424545;
}

.fieldWithErrors {
  display: inline;
}

td.HiddenGradeCell {
  background-color: red;
}

table.announcements {
  border: 1px solid $autolab-highlight-gray;
  border-collapse: collapse;
  width: 550px;
}
table.announcements th {
  text-align: left;
  border: 1px solid $autolab-highlight-gray;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 13px;
  color: #990000;
  padding-left: 6px;
  padding-top: 7px;
  padding-bottom: 3px;
  font-weight: bold;
}
table.announcements td {
  font-size: 12px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}
#gradesheetSearch {
  max-width: 600px;
  padding-left: 5px;
}
#gradesheetRecords {
  width: 40%;
  /*	height:60%;
	overflow:scroll;*/
}
a {
  cursor: pointer;
}

#gradesheetStudent {
  border-left: 1px solid #ddd;
  /*width:45%;*/
  position: fixed;
  width: 250px;
  z-index: 100;
  /*	position:absolute;*/
  right: 0;
  top: 0;
  height: 100%;
  max-height: 100%;
  padding: 60px 30px 30px 30px;
  background-color: $autolab-subtle-gray;
  overflow: scroll;

  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;

  /*visibility:hidden; */
}

#gradesheetStudent:hover {
  background-color: $autolab-subtle-gray;

  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.smallText {
  font-size: 12px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}
#gradeForm {
  border: 1px solid black;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  position: fixed;
  left: 37.5%;
  top: 15%;
  background-color: white;
  visibility: hidden;
}
#gradeBackdrop {
  background-color: #888888;
  display: none;
  height: 100%;
  left: 0px;
  opacity: 0.8;
  position: fixed;
  top: 0px;
  width: 100%;
}
table.verticalTable {
  border-collapse: collapse;
}

table.verticalTable td {
  border: 1px solid black;
  text-align: left;
  border-collapse: collapse;
  padding-right: 5px;
  padding-left: 5px;
  font-size: 12px;
}
table.verticalTable table td {
  border: 0px;
}
table.verticalTable th {
  background-color: #dddddd;
  font-family: Helvetica, sans-serif;
  /*text-transform:lowercase;
	font-variant:small-caps;*/
  font-weight: normal;
  border: 1px solid black;
  border-collapse: collapse;
  font-size: 13px;
  margin: 5px 0px 5px 0px;
  padding: 4px;
  text-align: right;
}
table.verticalTable td.smallText {
  border: 0px;
  font-size: 10px;
}
table.prettyBorder tr:hover,
.sortable tr:hover {
  background-color: #abcdef;
}

ul.panel {
  list-style: none;
  margin: 0px;
  padding: 0px;
  background-color: #f5f5f5;
  max-width: 300px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-border-radius: 2px;
  border: 1px solid $autolab-subtle-gray;
  overflow: hidden;
}
ul.panel li {
  margin: 0px;
  padding: 8px 15px;
  box-shadow: 0px -1px 0px $autolab-subtle-gray;
  -webkit-box-shadow: 0px -1px 0px $autolab-subtle-gray;
}

ul.panel a,
ul.panel a:active,
ul.panel a:hover,
ul.panel a:visited {
  text-decoration: none;
  color: #555;
  width: 300px;
}
ul.panel a:hover {
  color: #222;
}
ul.panel li:hover {
  background-color: $autolab-subtle-gray;
  box-shadow: 0px -1px 0px #e0e0e0, 0px 1px 0px #e0e0e0;
  -webkit-box-shadow: 0px -1px 0px #e0e0e0, 0px 1px 0px #e0e0e0;
}

/*Announcements*/
table.announcements {
  margin-top: 20px;
  border: 0px;
  /*border-bottom:1px solid #DDD;
	border-top:1px solid #DDD;*/
}
table.announcements tr,
table.announcements th {
  border: none;
}
table.announcements th {
  font-weight: normal;
  font-size: 16px;
}
table.announcements ul,
table.announcements li {
  margin: 0px;
  padding: 0px;
  list-style-image: none;
  list-style-type: none;
  position: relative;
}

table.announcements li {
  padding: 10px;
  margin: 5px 0px;
  background-color: #fafafa;
  border: 1px solid $autolab-subtle-gray;
  color: #666;
}

table.announcements b {
  color: #555;
}

div.devlist {
  position: absolute;
  top: 60px;
  right: 10px;
  max-width: 400px;
  /*float:right;
	margin-top:40px;*/
  z-index: 9001;
  opacity: 0;
  filter: alpha(opacity=0);

  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
div.devlist:hover {
  top: 40px;
  opacity: 0.9;
  filter: alpha(opacity=90);
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
div.dev {
  z-index: 9001;
  text-align: center;
  background-color: #222;
  color: #aaa;
  position: relative;
  padding: 5px;
  width: 190px;
  margin: 5px;
  float: right;
  line-height: 25px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-border-radius: 5px;

  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
div.devlist:hover div.dev {
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.dev img {
  position: absolute;
  top: -10px;
  right: 100px;
  height: 12px;
}
.dev a {
  display: block;
  margin: 0px;
  cursor: pointer;
  text-decoration: none;
  padding: 5px 20px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: #333;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#333), to(#111));
  color: #aaa;
  border: 1px solid #000;
}
.dev a:hover {
  background-color: #444;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#444), to(#111));
}
.dev a:active {
  background-color: #111;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#111), to(#222));
}

table.announcements a {
  text-decoration: none;
}
.button,
input[type="button"] {
  display: inline-block;
  margin: 2px;
  cursor: pointer;
  text-decoration: none;
  padding: 5px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background-color: $autolab-subtle-gray;
  background: -webkit-gradient(
    linear,
    0% 0%,
    0% 100%,
    from(#f8f8f8),
    to(#e8e8e8)
  );
  color: #888;
  border: 1px solid $autolab-highlight-gray;
}
.button:hover,
input[type="button"]:hover {
  background-color: #f5f5f5;
  background: -webkit-gradient(
    linear,
    0% 0%,
    0% 100%,
    from(#f8f8f8),
    to(#f0f0f0)
  );
}
.button:active,
input[type="button"]:active {
  background-color: #ddd;
  background: -webkit-gradient(
    linear,
    0% 0%,
    0% 100%,
    from(#f0f0f0),
    to(#f8f8f8)
  );
}

div.navLinks {
  position: absolute;
  top: 0px;
  left: 0px;
  /*left:210px;*/
  min-width: 800px;
}
div.navLinks a {
  text-decoration: none;
  color: #fff;
}
div.navLinks .navbutton,
#coursetitle {
  font-size: 12px;
  cursor: pointer;
  color: $autolab-subtle-gray;
  position: relative;
  list-style: none;
  display: block;
  padding: 10px 15px;
  float: left;
  margin: 0;
  text-decoration: none;
  border-right: 1px solid #800;

  background-color: #990000;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#aa0000),
    to(#990000)
  );
  background: -moz-linear-gradient(top, #aa0000, #990000);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#AA0000', endColorstr='#990000'); /* ie7 */
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#AA0000', endColorstr='#990000'); /* ie8 */
}
div.navLinks .navbutton:hover,
#coursetitle:hover {
  background-color: #800;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#990000),
    to(#900000)
  );
  background: -moz-linear-gradient(top, #990000, #900000);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#990000', endColorstr='#900000'); /* ie7 */
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#990000', endColorstr='#900000'); /* ie8 */
}
div.navLinks .navbutton:active,
#coursetitle:active {
  background-color: #700;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#770000),
    to(#880000)
  );
  background: -moz-linear-gradient(top, #770000, #880000);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#770000', endColorstr='#880000'); /* ie7 */
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#770000', endColorstr='#880000'); /* ie8 */
}

#coursetitle {
  font-size: 15px;
  color: #fff;
  padding: 8px 40px;
  font-weight: bold;
}
li.editable {
  cursor: pointer;
}
li.editable:hover {
  background-color: #f8f8f8;
}

li .half {
  visibility: hidden;
  float: right;
  position: relative;
  top: -28px;
  right: 0px;
}
li:hover .half {
  visibility: visible;
}

#sidebar {
  min-height: 400px;
  width: 150px;
  padding: 15px;
  margin: 0px 30px 0px 0px;
  border-right: 1px solid $autolab-subtle-gray;
  float: left;
}
#content {
}

#ajaxTable table,
.ajaxTable table {
  background: #f8f8f8;
  margin-bottom: 30px;
  border: 1px solid #ddd;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
#ajaxTable tr:nth-child(odd),
.ajaxTable tr:nth-child(odd) {
  background: #fff;
}
#ajaxTable td,
.ajaxTable td {
  font-size: 12px;
  color: #555;
  text-align: left;
  border: 1px solid #ddd;
  /*text-transform:capitalize;*/
  padding: 10px;
}
#ajaxTable th,
.ajaxTable th {
  cursor: pointer;
  text-align: left;
  border: none;
  font-size: 12px;
  color: #888;
  padding: 15px;
  background-color: #e5e5e5;
  background: -webkit-gradient(
    linear,
    0% 0%,
    0% 100%,
    from(#efefef),
    to(#e5e5e5)
  );
  text-transform: uppercase;
  font-weight: bold;
}
#ajaxTable table:hover td,
.ajaxTable table:hover td {
  color: #666;
}
#ajaxTable table:hover td:hover,
#ajaxTable table:hover tr:hover,
.ajaxTable table:hover td:hover,
.ajaxTable table:hover tr:hover {
  background-color: #f5f5f5;
  color: #000;
}

.filter input {
  padding: 5px;
  font-size: 15px;
}

#copyrow {
  position: relative;
  top: 0px;
  left: 2%;
}

.highlighted {
  color: #000;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  padding: 5px;
  background-color: #fcf310;
  background: -webkit-gradient(
    linear,
    0% 0%,
    0% 100%,
    from(#fcf310),
    to(#f7d21b)
  );
  border: 1px solid #ddd;
}

/*
table.verticalTable{
	min-width:400px;
	font-size:15px;
	margin:10px;
	border:none;
	color:#000;
}
table.verticalTable td{
	margin:0px;
	width:200px;
	padding:10px;
	font-size:15px;
	border:none;
}
table.verticalTable input{
	margin:0px;
	font-size:15px;
	outline:none;
	border:none;
}
table.verticalTable tr{
	border-bottom:1px solid #CCC;
}
table.verticalTable th{ 
	width:10px;
	padding:0px;
	text-align:left;
	font-weight:bold;
	background-color:#FFF;
	border:none;
}
table.verticaltable p{
	font-size:10px;
}
table.verticalTable:hover{ color:#AAA;}
table.verticalTable:hover input{ color:#000;}

table.verticalTable input:hover{
	color:#000;
}
table.verticalTable input:focus{
	color:#400;
	background-color:#FFFFC9;
}
*/

input.button {
  display: inline-block;
  font-size: 12px;
}

.uneditable {
  display: inline-block;
  width: 180px;
  font-size: 12px;
  padding: 8px;
  margin: 2px;
  margin-bottom: 10px;
  outline: none;
  color: #888;
  background-color: #f5f5f5;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  border: 1px solid #ddd;
}

input[type="submit"] {
  display: inline-block;
  min-width: 70px;
  font-size: 12px;
  margin: 2px;
  cursor: pointer;
  text-decoration: none;
  padding: 5px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background-color: $autolab-subtle-gray;
  background: -webkit-gradient(
    linear,
    0% 0%,
    0% 100%,
    from(#f8f8f8),
    to(#e8e8e8)
  );
  color: #888;
  border: 1px solid $autolab-highlight-gray;
}
input[type="submit"]:hover {
  background-color: #f5f5f5;
  background: -webkit-gradient(
    linear,
    0% 0%,
    0% 100%,
    from(#f8f8f8),
    to(#f0f0f0)
  );
}
input[type="submit"]:active {
  background-color: #ddd;
  background: -webkit-gradient(
    linear,
    0% 0%,
    0% 100%,
    from(#f0f0f0),
    to(#f8f8f8)
  );
}

input[type="text"],
textarea {
  display: inline-block;
  width: 200px;
  font-size: 12px;
  padding: 8px;
  margin: 2px;
  margin-bottom: 10px;
  outline: none;
  color: #000;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  border: 1px solid #ddd;
}

textarea {
  width: 350px;
  height: 100px;
}

input[type="text"]:focus {
  background-color: #fffde3;
  border-color: #f2f1df;
}

span.formtext {
  margin: 0px;
  display: block;
  font-size: 11px;
  color: #888;
  padding: 3px 6px;
}

form p {
  width: 180px;
  margin: 0px;
  margin-bottom: 10px;
  font-size: 10px;
  color: #666;
  padding: 10px;
  padding-top: 0px;
  border: 1px solid $autolab-subtle-gray;
  border-top: none;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#f8f8f8));
}

.column {
  width: 250px;
  display: table-cell;
}

.controls {
  margin-top: 10px;
  padding: 10px;
  width: 450px;
  display: inline-block;
  border-top: 1px solid $autolab-subtle-gray;
  border-bottom: 1px solid $autolab-subtle-gray;
}

div.checkbox span.formtext {
  margin: 0px;
  display: inline-block;
}

input.bstrong {
  padding-left: 10px;
  padding-right: 10px;
  color: #444;
  background-color: $autolab-highlight-gray;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#bbb), to(#999));
  border: 1px solid #666;
}
input.bstrong:hover {
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#aaa), to(#999));
}

input.bstrong:active {
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#888), to(#999));
}

h1.notbeta#courseTitle {
  display: none;
}

div.warning {
  color: #fff;
  background-color: #900;
  background: -webkit-gradient(
    linear,
    0% 0%,
    0% 100%,
    from(#f15d5d),
    to(#e42b2b)
  );
  border: 1px solid #c90000;
  box-shadow: 0px 1px 0px #22579b;
  -webkit-box-shadow: inset 0px 1px 0px #f58484, inset 0px -1px 0px #f58484;

  padding: 15px;
  width: 400px;
  margin: 15px 0px;
  font-size: 12px;
  text-align: left;
}
div.warning h2 {
  margin: 0px;
  color: #fff;
  font-weight: bold;
}

div#generatingDiv {
  display: inline-block;
}

div#chart {
  display: block;
  width: 310px;
  /*margin-bottom:30px;*/
  padding: 8px;

  border: 1px solid #ddd;
  background-color: #fff;
}

div.bar {
  vertical-align: bottom;
  display: inline-block;
  width: 12px;
  height: 40px;
  margin: 0;
  padding: 0;
  background-color: #c3e9f2;
  border-top: 1px solid #97d9e9;
  box-shadow: 1px 0px 0px #97d9e9;
}

th {
  position: relative;
}
a.graphme {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  text-align: center;
  background-color: #efefef;
  border: 1px solid #ddd;
  border-bottom: none;
  padding: 1px 0px;
  color: #888;
  text-decoration: none;
  opacity: 0;
  filter: alpha(opacity=0);

  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;

  z-index: 10000;
}

th:hover a.graphme {
  top: -10px;
  padding: 3px 0px;
  opacity: 1;
  filter: alpha(opacity=100);

  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

th:hover a.graphme:hover {
  color: #444;
  opacity: 1;
  filter: alpha(opacity=100);

  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

#focus {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 100000;
}

.blackbox {
  cursor: pointer;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  filter: alpha(opacity=80);
  background-color: #000;
  overflow-x: hidden;

  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.blackbox:hover {
  opacity: 0.7;
  filter: alpha(opacity=70);
}

#focus table {
  position: absolute;
  top: 500px;
  left: 100px;
  margin: 50px auto;
  opacity: 1;
  filter: alpha(opacity=100);

  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

div.sidetable {
  display: table-cell;
  /*position:*/
}

#ajaxTable table,
.ajaxTable table {
  background: #f8f8f8;
  margin-bottom: 30px;
  border: 1px solid #ddd;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
#ajaxTable tr:nth-child(odd),
.ajaxTable tr:nth-child(odd) {
  background: $autolab-subtle-gray;
}
#ajaxTable td,
.ajaxTable td {
  font-size: 12px;
  color: #555;
  text-align: left;
  border: 1px solid #ddd;
  /*text-transform:capitalize;*/
  padding: 5px 8px;
}

#ajaxTable th,
.ajaxTable th,
table.prettyBorder th {
  cursor: pointer;
  text-align: left;
  border: none;
  font-size: 12px;
  color: #888;
  padding: 5px;
  background-color: #e5e5e5;
  background: -webkit-gradient(
    linear,
    0% 0%,
    0% 100%,
    from(#efefef),
    to(#e5e5e5)
  );
  text-transform: uppercase;
  font-weight: bold;
}
#ajaxTable table:hover td,
.ajaxTable table:hover td {
  color: #666;
}
#ajaxTable table:hover td:hover,
#ajaxTable table:hover tr:hover,
.ajaxTable table:hover td:hover,
.ajaxTable table:hover tr:hover {
  background-color: #f5f5f5;
  color: #000;
}

table.prettyBorder,
table.prettyBorder tr,
table.prettyBorder td {
  border-color: #ddd;
  text-align: left;
}
