div.dataTables_filter {
  float: left;
}

div.dataTables_filter {
  padding: 6px 0px;
  margin-right: 20px;
}

div.dataTables_filter input {
  font-family: "Source Sans Pro", sans-serif;
}

div.dataTables_wrapper:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

html[xmlns] .dataTables_wrapper {
  display: block;
}

* html .dataTables_wrapper {
  height: 1%;
}

table.dataTable {
  clear: both;
}

a.paginate_button,
a.paginate_active {
  display: inline-block;
  padding: 2px 4px;
  margin-left: 2px;
  cursor: pointer;
  cursor: hand;
}
th {
  z-index: 1;
  position: sticky;
  top: 0;
}

.dt-buttons {
  height: 75px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}

.dt-button {
  margin-right: 10px !important;
}

.dt-button span {
  display: flex;
}

.dt-button i {
  margin: 0 6px 0 4px;
}

div.dataTables_paginate {
  float: right;
  padding: 6px 0;
  margin-right: 20px;
}

div.dataTables_info {
  float: left;
}
