div.dataTables_filter {
  float: left;
}

div.dataTables_filter {
  padding: 6px 0px;
}

div.dataTables_filter input {
  font-family: "Source Sans Pro", sans-serif;
}

div.dataTables_wrapper:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

html[xmlns] .dataTables_wrapper {
  display: block;
}

* html .dataTables_wrapper {
  height: 1%;
}

table.dataTable {
  clear: both;
}

th {
  z-index: 1;
  position: sticky;
  top: 0;
}
