table {
  box-shadow: none !important;
  border: 1px solid #F4F1F1 !important;
  font-size: 17px !important;
}

tbody {
  tr {
    height: 46px !important;

    .selected {
      background-color: #ebebeb !important;
    }
  }

  td {
    padding-left: 1rem !important;
  }
}

p {
  font-weight: 400 !important;
  font-size: 17px !important;
}

tr {
  font-weight: 400 !important;
}

span {
  padding-left: 10px !important;
  vertical-align: middle !important;
}