@import 'variables';

td.focus {
  background-color: #666666 !important;
  color: white !important;
}

.container {
  width: 90%;
  max-width: none;
}

#grades_wrapper .tools {
  margin-top: 15px;
  margin-bottom: 20px;
}

#grades_wrapper .tools div {
  display: inline;
  margin-right: 7px;
}

#grades td.edit {
  text-align: center;
  color: #666666;
  cursor: pointer;
}

#grades td.edit div.editable.error {
  color: red;
}

#grades td.edit:hover {
  color: rgba(140, 0, 0, 0.95);
}

#grades tr.sortable th {
  cursor: pointer;
}

#grades th {
  padding-left: 7px;
  padding-right: 7px;
  white-space: nowrap;
}

#grades th.sorting, #grades th.sorting_asc, #grades th.sorting_desc {
  cursor: pointer;
}

#grades_filter {
  margin-bottom: 10px;
}

#grades_filter label {
  width: 100%;
}

#grades_filter input {
  border: 1px solid #d0d0d0;
  border-radius: 3px;
  box-shadow: 0 0 2px $autolab-highlight-gray;
  font-size: 18px;
  padding: 6px 12px;
  width: 100%;
  max-width: 400px;
}

#grades td.edit input {
  border: 0 solid $autolab-highlight-gray;
  color: #e1e1e1;
  font: inherit;
  text-align: inherit;
}

#grades td.edit input:hover {
  color: rgba(140, 0, 0, 0.95);
}

#grades {
  box-shadow: 0 0 5px 0 $autolab-subtle-gray;
  font-size: 16px;
  border-radius: 2px;
  border-collapse: collapse;
  margin: 0 auto 0 auto;
}

#grades td {
  padding: 10px;
  border: 1px solid #e8e8e8;
  border-right: none;
  border-left: none;
  border-spacing: 0;
  text-align: left;
  white-space: nowrap;
  color: #555;
}

#grades td.edit, #grades td.problem {
  text-align: center;
  background-color: #f2f2f2;
}

#grades th {
  background-color: #ebebeb;
  padding: 8px;
  border-right: none;
  border-left: none;
  text-transform: uppercase;
  font-size: 0.9em;
  white-space: nowrap;
  overflow: hidden;
  padding-left: 10px;
  padding-right: 15px;
  text-align: left;
}

#grades th.problem {
  background-color: #f2f2f2;
  font-size: 0.7em;
  white-space: normal;
  text-align: center;
}

#grades th span.max_score {
  line-height: 1.5em;
  font-style: italic;
  font-weight: normal;
  display: block;
}

#grades .sec {
  padding-right: 15px;
}

#grades .course_number,
#grades .sec,
#grades .lec,
#grades .total,
#grades .tweak,
#grades .late_penalty,
#grades .version_penalty {
  text-align: center;
}

#grades .tweak a,
#grades .id a {
  font: inherit;
}

#grades td.id > a.email {
  margin-right: 4px;
  cursor: pointer;
}

#grades .tweak a:hover {
  color: rgba(140, 0, 0, 0.95);
}

#grades .released {
  font-weight: bold;
}

td.id {
  overflow: visible;
}

#grades th.enumerator,
#grades td.enumerator {
  text-align: right;
  padding-right: 10px;
}

#grades .popover {
  cursor: auto;
  color: #666;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 1px 1px 4px 1px $autolab-highlight-gray;
  border-radius: 5px;
  z-index: 100000;
  padding: 3px;
  background-color: #ebebeb;
  display: none;
}

#grades .popover a:hover {
  color: rgba(140, 0, 0, 0.95);
}

#grades td.id .popover span.filename {
  padding-left: 3px;
  line-height: 1.8em;
  display: block;
  text-align: center;
}

#grades td.id .popover span.filename span.links {
  padding-right: 3px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.9em;
}

#grades td.id .popover table.sub_info {
  border-collapse: collapse;
  font-family: Helvetica;
}

#grades td.id .popover td,
#grades td.id .popover th {
  padding: 5px;
  border: none;
}

#grades tr.special_submission td.id > a {
  font-style: italic;
}

#grades td.id .popover th {
  font-size: 0.9em;
  text-transform: uppercase;
  text-align: right;
  padding-right: 7px;
  padding-left: 10px;
}

#grades td.id .popover table.subinfo td.version a {
  font-weight: normal;
}

#grades td.id .popover div.file_download {
  background: #f8f8f8;
  padding: 5px;
  margin: 3px 0 0px 0;
  font-size: 0.9em;
  text-transform: uppercase;
  padding-right: 7px;
  padding-left: 10px;
  font-weight: bold;
}

#grades td.id .popover div.file_download a {
  /*color: #909090;*/
}

.popover .arrow {
  position: absolute;
  height: 12px;
  width: 5px;
  background-image: image-url("popover-arrow.png");
  background-repeat: no-repeat;
  border-width: 0;
}

#grades td .popover .score_details {
  font-weight: normal;
  border-collapse: collapse;
  white-space: initial;
}

#grades td .score_details .feedback {
  width: 290px;
  max-width: 350px;
  min-width: 290px;
  min-height: 75px;
  max-height: 300px;
  background-color: white;
  font-family: "Source Sans Pro", sans-serif;
}

#grades td .popover .score_details span.save_box {
  margin: 2px;
  float: right;
  font-weight: 600;
}

#grades td .popover .score_details span.save_box * {
}

#grades td .popover .score_details span.save_box span.saving {
  display: none;
  color: #555;
}

#grades td .popover .score_details span.save_box span.error {
  display: none;
  color: red;
}

#grades tr:last-child {
  border-bottom: none;
}

.template {
  display: none;
}

input[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: static;
  left: auto;
  opacity: 1;
}

#interaction_banner {
  color: rgba(0, 0, 0, 0.795);
}

#interaction_badge {
  color: $autolab-blue-text;
}

th:not(.sorting_asc) .up-icon {
  display: none;
}

th:not(.sorting_desc) .down-icon {
  display: none;
}

th:not(.sorting) .sort-icon {
  display: none;
}

#grades #icon_template {
  display: inline-block;
  line-height: 14px;
  vertical-align: middle;
}

#table_container {
  text-align: center;
  width: 100%;
  overflow: auto;
}
