img.loader{
    max-width: 200px;
    max-height: 200px;
  }

.cbox {
    position: relative;
    text-align: center;
  }

.vbox {
  vertical-align: middle;
}

.spacer {
  min-height: 75px !important;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.nopad{
    margin-top: 0 !important;
    margin-bottom: 0;
}

.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
  animation-duration: 2s;
  max-width: 180px;
  max-height: 180px;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}