/* Score Popup */

#modal-close {
    font-size: 2rem;
    position: absolute;
    top: -35%;
    right: 0;
    padding: 0;
}

.score-details {
    cursor: pointer;
}

#score-details-modal{
    width: 90%;
    height: auto;
}

/* Table Header */

#score-details-header {
    position: relative;
    margin-top: 0;
}

.score-styling {
    font-weight: normal;
    font-style: italic;
    text-transform: none;
}

.sorting-th {
    display: flex;
    align-items: center;
}

/* Table Styling */

.submissions-problem-bg {
    background-color: #F2F2F2 !important;
}

table.prettyBorder tr:hover {
    background-color: white;
}

/* Icons */

.material-icons {
    margin-left: 3px;
}

.i-no-margin {
    margin-left: 0;
}
