// Place all the styles related to the metrics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import "semantic-ui";
$autolab-red: rgba(153, 0, 0, 0.9);
$autolab-subtle-red: #C87B7E;

.button.submit {
  color: #FFFFFF !important;
  background-color: $autolab-red !important;
}

.button.submit:hover {
  color: #FFFFFF !important;
  background-color: $autolab-subtle-red !important;
}

.dropdown {
     min-width: 20px !important;
}

span:before {
    content:" "; 
    display:inline-block; 
    width:10px;
}

span:after {
    content:" "; 
    display:inline-block; 
    width:10px;
}

.checkbox label::after {
	border:none;
	transform:none;
}

.ui.checkbox .box, .ui.checkbox label {
	border-top-width:2px;
	border-left-width:2px;
	border-bottom-width:2px;
	border-right-width:2px;
}

div.metric {
	font-size:16px;
}

input[type="text"] {
  height: 20px !important;
  width: 30px !important;
}

.success {
    color: black;
}
