nav{
  background: #005bbb;
}
nav a, nav a:hover, nav a:focus{
  text-decoration: none;
  color:white;
}
nav ul li{
  cursor:pointer;
}
.dropdown-button{
  font-weight: 500;
}
.dropdown-content li>a{
  color: #005bbb;
  font-weight:500;
}

.button-collapse{
  margin-right:20px;
}
#mobile-demo #dropdownMenu1{
  color:white;
  text-align:center;
  cursor:default;
  background:#005bbb;
}
#mobile-demo li{
  cursor:pointer;
}
#mobile-demo a:hover{
  color:black;
  background:transparent;
}

.side-nav li > a > i.material-icons{
  margin: 0 12px 0 0;
  height:48px;
}
nav i.material-icons{
  margin-right: 5px;
  font-size: 20px;
}
nav .nav-wrapper .button-collapse .material-icons{
  font-size:2.7rem;
}

@media (max-width: 400px) {
  /* On small screens the sidebar's too wide */
  .side-nav {
    width: 60% !important;
  }
}
