@import "_theme.css";
/******************************************************************************
 * RULE ORDER - keep CSS rules in alphabetical order                          *
 *  keep browser prefix (-webkit-, -moz-, etc) rules with the standard rule   *
 ******************************************************************************/

/*******************************************
* Class and ID Rules. Also pseudo classes *
*******************************************/

/********************************************************
* These colors have been changed to fit a CMU aesthetic.*
********************************************************/

a {
  color: var(--C-569ff7);
}

html, body, .match-bg {
  background-color: var(--application-background) !important;
  height: 100%;
}

/* Error Classes - for elements that display error/status messages */
.error {
  color: var(--error);
}
.success {
  color: var(--success);
}
.fieldWithErrors {
  display:inline;
}

/* Button Styles */

.autolab .btn {
  font-weight: normal;
  background-color: var(--card-header-bg);
}

.autocomplete-content {
    margin-top: 0;
}

/* Helper Styles */

.full-width {
  width: 100%;
}

/* Navbar Styling */

div.main-header {
  background-color: var(--C-8c0000);
  width: 100%;
  border-bottom: 1px solid var(--C-000-L6);
}

div.main-header .logo {
  display: inline-block;
  vertical-align: top;
  line-height: 54px;
}

div.main-header h2 {

  font-size: 22px;
  line-height: 54px;
  color:var(--C-fff);

  vertical-align: top;
  margin:0 4px;
  font-weight: lighter;

  a {
    text-decoration: none;
    color: var(--C-fff);
    line-height: 32px;
    margin-top: 11px;
    margin-left: 2px;
    border-left: 1px solid var(--C-f3f0f0-L1);
    padding-left: 10px;
    display: inline-block;
  }

}

div.main-header img {
  margin-top: 11px;
  margin-left: 11px;
  margin-bottom: 11px;
}


.action-links.navbar-nav  {
  list-style: none;
  display:inline-block;
  margin-right: 14px;
  margin-top: 12px;
}

.action-links li {
  display: inline-block;
  margin-right: 6px;
}

.action-links.navbar-nav li a {
  padding: 6px 10px;
  background-color: var(--C-fff);
  font-size: 14px;
  line-height: 14px;
  border-radius: 18px;
  font-weight: normal;
  color: var(--C-8c0000);
  border: 2px solid var(--C-fff);
}

.action-links.navbar-nav li a:hover {
  text-decoration:none;
  color: var(--C-fff);
  background-color: transparent;
}

.action-links.navbar-nav .dropdown li {
  width: 100%;
}

.action-links.navbar-nav .dropdown li:hover {
  background-color: var(--C-eee);
}

.action-links.navbar-nav li.dropdown a {
  border: none;
}

.action-links.navbar-nav li.dropdown a:hover {
  color: var(--C-8c0000);
}

.action-links .dropdown-menu .divider {
  margin-top: 2px;
  margin-bottom: 2px;
}

.annotationPane .left {
	float: none !important;
	margin-left: -10px;
}

/* Custom Form Styling */
form#edit_editCourse {
  margin-top: 80px;
}

.input-field, form > div {
  padding-bottom: 1rem !important;
}

.input-field label{
  color: var(--C-000);
}

.input-field label.active, [type="checkbox"] + label{
  color: var(--C-444);
  font-weight: 600;
}

input:not([type]):disabled, input[type=text]:disabled, input[type=text]:not(.browser-default):disabled, input[type=password]:disabled, input[type=email]:disabled, input[type=url]:disabled, input[type=time]:disabled, input[type=time][readonly="readonly"], input[type=date]:disabled, input[type=datetime]:disabled,input[type=datetime-local]:disabled, input[type=tel]:disabled, input[type=tel][readonly="readonly"], input[type=number]:disabled, input[type=search]:disabled,  textarea.materialize-textarea:disabled{
  background: var(--C-f2f2f2);
  color: var(--C-666);
}

input[type=text], input[type=email], input[type=text]:not(.browser-default)[readonly="readonly"]{
  color: var(--headers-color);
  font-weight: 400;
}

.tabs{
  overflow-x: hidden;
  background-color: var(--application-background);
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: var(--C-b1b1b1);
}

.checkbox-input{
  // margin-bottom: 5vh;
  margin-top: 2vh;
}

.btn-primary{
  //margin-top:3vh;
}


/* Further Styling */

.caret {
	border-color: transparent !important;
}

/* embedded-form */
.embedded-form {
  display: inline-block;
  cursor: pointer;
}

input[type="file"].upload_embedded {
    display: none;
}

#upload_button .control-label {
  display: none;
}

#upload_file {
  color: var(--C-444);
}

.hide-all {
  display: none;
}

table.highlight {
  color: var(--headers-color);
  a {
    color: var(--C-569ff7);
  }
  tbody > tr:hover {
    background-color: var(--C-f3f0f0-L2);
  }
}

.navbar-nav.action-links > li > .dropdown-menu {
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  margin-top: 6px;
}

.main-header .dropdown {
  display:inline-block;
  margin-right: 18px;
  line-height: 30px;
  margin-left: 10px;
}

.main-header .dropdown-toggle {
  color: var(--C-fff);
  font-weight: normal ;
  cursor:pointer;
}

.main-header .dropdown-toggle .caret {
  border-top: 4px solid var(--C-fff);
}

.main-header .dropdown-menu {
  animation-duration: 0.2s;
  -webkit-animation-duration: 0.2s;
  -moz-animation-duration: 0.2s;
}

.navbar-toggle .icon-bar {
  background-color: var(--C-fff);
}

.sub-navigation {
  background-color: var(--C-f3f0f0-L2);
  width: 100%;
  border-bottom: 1px solid var(--C-dfdcdc);
  margin-bottom: 15px;
  padding: 0 15px;
}
.sub-navigation .left-nav,
.sub-navigation .right-nav {
  display: inline-block;
}

.sub-navigation .item {
  color: var(--C-b7b4b4);
  font-size: 16px;
  line-height: 22px;
  cursor: pointer;
}

.sub-navigation .item a,
.sub-navigation .item .title {
  padding: 14px;
  display:inline-block;
  color: inherit;
  text-decoration: none;
}

.sub-navigation .left-nav .item:last-child {
  color: var(--C-676464);
  font-weight: bold;
}

.sub-navigation .item .upload-icon {
  background-image: image-url("upload.png");
  display: inline-block;
  height: 51px;
  width: 80px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50% auto;
  cursor: pointer;

  &:hover {
    background-image: image-url("upload_highlighted.png");
  }
}


.sub-navigation .item:hover {
  color: var(--C-676464);
}

.sub-navigation .item + .item:before, /* IE8 *sigh* */
.sub-navigation .item + .item::before {
  color: var(--C-999696);
  content: "»";
  font-size: 24px;
}

@media (max-width: 768px) {

  div.main-header h2 {
    font-size: 16px;
  }


  .action-links.navbar-nav {
    width: 100%;
    margin: 0;
  }

  .action-links.navbar-nav li {
    display: block;
    border-bottom: 1px solid var(--C-fff);
    margin: 0;
  }

  .action-links.navbar-nav li:last-child {
    border-bottom: none;
  }

  .action-links.navbar-nav li a {
    background-color: transparent;
    width: 100%;
    line-height: 36px;
    color: var(--C-fff);
    border: none;
  }

  .action-links.navbar-nav li.dropdown {
    line-height: 36px;
    border: none;
  }
  .action-links.navbar-nav li.dropdown .dropdown-toggle {
    display: none;
  }
  .action-links.navbar-nav li.dropdown .dropdown-menu {
    width: 100%;
    position: static;
    display: block;
    border: none;
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

}

/* Handin Panel */
#handin_show_assessment {
  color: var(--headers-color);
}

.handin-panel {
  background-color: var(--C-f3f0f0-L1);
  border: 1px solid var(--C-ddd);
  border-radius: 4px;
  /*padding: 18px;*/
  top: -2.8rem;
}

.handin-panel p {
  margin: 8px !important;
}

.handin-panel .card-action {
  padding-right: 20px;
    padding-left: 20px;
    padding-top: 3px;
    padding-bottom: 10px;
}

.handin-panel #submission_file {
  display: none;
}

.handin-panel.modal {
  display: none;
}

.handin-btn {
  background-color: var(--C-8c0000);
  box-shadow: none;
}
.handin-btn-small {
  padding: 0px 1.3rem;
}

.history-download-pane .material-icons {
  font-size: 14px;
}

/* Footer - Information, About, etc. Should be in a <footer> tag. */
div#footer {
  clear: both;
  font-size: 14px;
  height: 42px;
  padding: 0 10px;
  margin-top: 16px;
  border-top: 1px solid var(--C-FAFAFA);
}

div#footer .right {
  padding-top: 14px;
}

div#footer a,
div#footer span.site_version {
  display: inline-block;
  padding: 12px;
  color: var(--headers-color);
}

div#footer span.site_version {
  float: right;
}

div#footer div.fb-like.fb_iframe_widget {
  vertical-align: top;
  margin-left: 8px;
}

div#footer a:hover {
  text-decoration: none;
  color: var(--C-428bca);
}


/* used for the submission history popup on submissions#index */
#floater{
  background-color: var(--C-fff);
  border:1px solid var(--C-000);
  display: none;
  height:80%;
  left:15%;
  overflow:auto;
  padding: 5px 10px;
  position:fixed;
  top:10%;
  width:70%;
}

/* Gray Box Lists - for announcements and user accounts */
ul.gray-box {
  list-style-image:none;
  list-style-type:none;
  margin: 16px 0;
  padding: 0;
}
ul.gray-box > li {
  background-color: var(--C-FAFAFA);
  border: 1px solid var(--C-eee);
  color: var(--C-666);
  margin: 0;
  padding: 10px;
}
ul.gray-box > li + li {
  margin-top: 8px;
}
ul.gray-box > li > *:first-child {
  margin-top: 0;
}
ul.gray-box > li > *:last-child {
  margin-bottom: 0;
}
ul.gray-box a {
  text-decoration: none;
}
ul.gray-box b {
  color:var(--C-555);
}
ul.gray-box.small {
  margin: 8px 0;
}
ul.gray-box.small > li {
  padding: 5px;
}
ul.gray-box.small > li + li {
  margin-top: 4px;
}

/* This one is actually in use.  Just so we're clear. */
.smallText{
  font-size:12px;
}

.center-align {
  display: block;
}

.div-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*This is the one that we're (I'm) using for required-field indicators.*/
.redText {
  color: var(--C-c00);
}

/**
* Displayed on the home page
**/

div#publicCourse{
  border: 2px dotted var(--C-000);
  margin-right:10%;
  padding:15px;
}

/* For autocompleting something. Not sure that these are in use anymore... */
div.autoCompleteDiv  {
  background-color:var(--C-fff);
  border: 1px solid var(--C-000);
  color:var(--C-000);
  margin-right:10px;
  padding: 2px;
}
div.autoCompleteDiv:hover, div.selectedAutoCompleteDiv {
  background-color:var(--C-d2d2d2);
  border: 1px solid var(--C-000);
  color:var(--C-000);
  margin-right:10px;
  padding: 2px;
}

/*
 * For announcing Exams
 */
p.attention {
  color: var(--C-57d66a);
  font-style: italic;
}

.autolab .tooltip-inner {
    white-space:pre;
    max-width:none;
}

/**
 * ULs on the moss page
 **/
ul.moss-list {
  list-style: none;
  padding: 0;
}
ul.moss-list > li {
  background: var(--C-eee);
  border: 1px solid var(--C-ccc);
  cursor: pointer;
  margin: 5px;
  padding: 4px;
}
ul.moss-list > li > h5 {
  color: var(--C-00A);
  font-weight: bold;
  margin: 0;
}
ul.moss-inner-list {
  list-style: none;
  padding: 0;
}
ul.moss-inner-list > li {
  background: linear-gradient(to top, var(--C-eee), var(--C-fff));
  border: 1px solid var(--C-ccc);
  cursor: default;
  padding: 2px;
}
ul.moss-inner-list > li > h5 {
  margin: 0;
}
ul.moss-inner-list > li > input[type="checkbox"]:not(:checked) ~ div {
  display: none;
}
ul.moss-inner-list > li > input[type="checkbox"]:checked ~ div {
  display: block;
}

/**
 * Spans that behave as links.  Used for LDAP lookup on Create User Page
 **/
.spanLink {
  color: var(--C-c90);
  cursor: pointer;
  text-decoration: underline;
}

div.field_with_errors {
  display: inline;
}

div.field_with_errors {
  display: inline;
}

div.scroll { 
  margin:4px, 4px; 
  padding:4px; 
  background-color: var(--C-f3f0f0-L2);
  width: 500px; 
  height: 150px; 
  overflow-x: hidden; 
  overflow-x: auto; 
  text-align:left; 
  code {
    color:var(--C-444);
  }
} 


table, .category {
  background-color: var(--C-F8F8F8) !important;
  box-shadow: 0 0 5px 0px var(--C-eee) !important;
  border: 1px solid var(--C-ccc) !important;
  th {
    background-color: var(--C-ebebeb) !important;
    color: var(--C-909090) !important;
  }
  td {
    color: var(--C-555) !important;
    background-color: var(--C-F8F8F8) !important;
    border-bottom: 1px solid var(--C-eee) !important;
  }
  td:hover {
    color: var(--C-8c0000) !important; // Text color for table when hovering over
  }
  .id a {
    color: var(--C-555) !important;
  }
}

.category {
  padding: 0 !important;
  td:first-child, th:first-child {
    padding-left: 10px;
  }
}

/* TABLE STYLES.  Styles for the multiple tables that we have for some reason */
/* Pretty Border Tables. I vote we make this the generic table style. */
table.prettyBorder,
table.prettyBorder tr,
table.prettyBorder th,
table.prettyBorder td {
  text-align: left;
}
table.prettyBorder {
  border-collapse:collapse;
  box-shadow: 0 0 5px 0px var(--C-eee);
  font-size:15px;
  width: 100%;
  // keep track of what row this is
  counter-reset: rowNumber;

  a {
    color: var(--C-569ff7);
  }

  tr {
    background-color: var(--C-fff);
    border: 1px solid var(--C-d0d0d0);
    &:hover {
      background-color:var(--C-abcdef);
    }
  }

  .user-row {
    // Increment counter for each non-heading row
    counter-increment: rowNumber;

    .row-index::before {
      // populate the row index
      content: counter(rowNumber);
    }
  }

  th {
    // background-color:var(--C-ebebeb); // Comment out since the table css already set this color value
    // color:var(--headers-color);
    cursor:pointer;
    font-family: Source Sans Pro, sans-serif;
    font-size: 0.8em;
    font-weight: bold;
    padding: 8px;
    text-align:left;
    text-transform:uppercase;
  }

  td {
    border: 1px solid var(--C-d0d0d0);
    padding: 0 5px;
    // color: var(--headers-color); // already set in table {}
  }

  tr.selected {
    background-color: var(--C-eee);
  }

  tr .btn.small {
    margin-top: 3px;
    margin-bottom: 3px;
    width: 38px;
    padding-left: 10px;
  }
}

table.navigatable tr {
  height: 30px;
  border-bottom:1px solid var(--C-f3f3f3);
}

table.navigatable tr:hover {
  background-color: var(--C-f3f3f3);
}

table.striped {
  tr {
    color: var(--headers-color);
  }
}

/* Card Styling */

.card {
  font-weight: normal;
  background-color: inherit;

  .collection,
  .card-action {
    border-radius: initial;
    border-color: none;
    .text-darken-3{
      color: var(--C-c00) !important;
    }
  }

  .row {
    margin: 0;
  }

  .card-content .card-title {
    line-height: normal;
  }

  .collection {
    margin-top: 0;
    margin-bottom: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
  }
  .card-content{
    background-color: var(--card-header-bg);
    color: var(--C-d5d5d5);
  }
}

/* badge */
.badge.padded-badge {
  padding: 2px 10px;
}
span.badge.new {
  background-color: var(--C-dd2222);
}
.badge.beta {
  background-color: var(--C-990000) !important;
}

/* collections */
.collection{
  border: 0;
  a.collection-item {
    transition: none;
    color: var(--headers-color) !important;
  }
  a.collection-item:not(.active):hover {
    background-color: var(--C-ddd);
  }
  .collection-item {
    background-color: inherit;
    border-bottom: none;
  }
}


.input-field label {
    transition: none;
}


/* General Styling */

body.autolab {

  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  font-size: 16px;

  h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Source Sans Pro', sans-serif;
    color: var(--headers-color);
  }

  h3 {
    margin-top: 15px;
  }
  h4 {
    font-size: 22px;
    font-weight: bold;
  }

}

@media (min-width: 1200px) {
  #pageBody.container {
    max-width: 970px;
  }
}

input[type=text],
input[type=email],
input[type=password],
textarea {
    height: auto;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    padding: 5px 0 5px 0;
    border-color: var(--C-ccc);
    box-shadow: 0 1px 0 0 var(--C-ccc);
    outline: none;
    font-weight: 400;
    color: var(--headers-color);
}

input[type=text], input[type=email] {
	box-sizing: border-box;
}

input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus {
  outline: none;
}

input[type=checkbox] {
  // For spacing between this and an adjacent label
  margin-right: 10px;
}

input[type=search] {
	border-bottom: 1px var(--C-ccc);
	box-shadow: 0 1px 0 0 var(--C-ccc);
}

.flatpickr-input {
  color: var(--C-000) !important;
}

.file-path-wrapper input[type="text"] {
  margin-bottom: 2px;
}

.flatpickr-input.form-control.input {
  color: var(--C-000);
}

.flatpickr-hour {
  margin-top: 0 !important;
  margin-bottom: .8rem;
  padding-top: 0 !important;
}

.flatpickr-minute {
  margin-top: 0 !important;
  margin-bottom: .8rem;
  padding-top: 0 !important;
}

.flatpickr-monthDropdown-months {
  display: inline;
}
 
.chosen-search input {
  box-sizing: border-box;
}

.input-field {
	margin-top: 2rem !important;
  label.control-label {
    font-size: 18px;
	}

  label.active {
    font-size: 18px;
  }
}

.help-block, form p:last-child {
  color: var(--headers-color);
  font-size: 15px;
  margin-top: 0;
  margin-bottom: 30px;
}

.autolab select.form-control {
  height: 34px;
}

.autolab .form-control {
  display: block;
  width: 100%;
  /* These are used to overwrite bootstrap's .form-control properties
     and using our default input styling */
  border-radius: inherit;
  box-shadow: inherit;
  height: inherit;
}

.autolab .input-group-addon select.form-control {
  height: inherit;
  width: 80px;
  border: none;
}

.page-wrapper {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -42px;
  background-color: var(--application-background);
}
.page-wrapper:after {
  content: "";
  display: block;
}
.page-wrapper:after {
  /* .push must be the same height as footer */
  height: 42px;
}


.section-title {
  position:relative;
  text-align:left;
}

.section-title:before {
  content:"";
  position:absolute;
  top:50%;
  left:0;
  width:100%;
  border-bottom:4px solid var(--C-ddd);
}

.section-title span {
  position: relative;
  padding-right: 12px;
}

/**
 * Checkbox styling
 */

.autolab .checkbox {
  position: relative;
  display: inline-block;
  min-width: 75px;
  text-align: left;
}

.checkbox input[type=checkbox] {
  visibility: hidden;
}

.checkbox label {
  margin-left: 8px;
}
.checkbox label::before {
  cursor: pointer;
  position: absolute;
  display:inline-block;
  width: 24px;
  height: 24px;
  top: -2px;
  left: -2px;
  background: var(--C-eee);
  border:1px solid var(--C-ddd);
  content: '';
  border-radius: 2px;
}

.checkbox label::after {
  opacity: 0.1;
  content: '';
  position: absolute;
  width: 12px;
  height: 7px;
  background: transparent;
  top: 5px;
  left: 4px;
  border: 3px solid var(--C-666);
  border-top: none;
  border-right: none;

  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.checkbox label:hover::after {
  opacity: 0.5;
}

.checkbox input[type=checkbox]:checked + label::after {
  opacity: 1;
}

.checkbox input[type=checkbox]:checked + label::before {
  border:1px solid var(--C-bbb);
}

.new_submission {
	margin-top: 1rem;
}

.options {
line-height: 36px;
list-style: none;
border-top: 1px solid var(--C-eee);
padding-left: 0;
}

.options li:hover {
background-color: var(--C-eee);
}

.options li {
border-bottom: 1px solid var(--C-eee);
}

.options li a {
padding-left: 14px;
display: block;
}

.options .no-hover:hover {
  background-color: transparent;
}

.options .danger-side {
  border-left: 6px solid var(--C-e53935);
  border-right: 1px solid var(--C-e53935);
}


.options .danger-bottom {
  border-bottom: 1px solid var(--C-e53935);
}

.options .collection-item {
  padding-left: 14px;
}

/* Form Tables */

.verticalTable tr {
  color: var(--headers-color);
  height: 48px;
  padding-top:2px;
  padding-bottom: 2px;
}


#sudo_email {
	margin-bottom: 2rem;
}

/* Homepage Styling */

.home {
  text-align: center;

  input[type="text"],
  input[type="email"],
  input[type="password"] {
    min-width: 240px;
    margin-top: 6px;
    margin-bottom: 20px;
    width: 38%;
  }

  input[type="submit"] {
    min-width: 220px;
  }

  label {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  hr {
    max-width: 320px;
  }

  .checkbox {
    width: 220px;
    margin-top: 18px;
    margin-bottom: 18px;
  }

  h2 {
    margin-bottom: 20px;
  }

}

/* Login Panel */

.login-logo {
  width: 8%;
}

@media (max-width: 768px) {

  .login-logo {
    width: 15%;
  }
}

.action-menu {
  font-size: 16px;
  line-height: 24px;
}

/* Header content for graphics */
div.center {
    text-align: center;
}

/*  Warnings  */

#flashes {
  margin-top: 8px;
}

#flash_alert.alert,
#flash_error.error,
#flash_notice {
  color: var(--C-ce4844);
  padding: 10px;
  margin-bottom: 0px;
  border-radius: 3px;
  border: 1px solid var(--C-eee);
  border-left: 5px solid var(--C-ce4844);
  font-weight: 500;
}

#flash_alert.success,
#flash_success.success,
#flash_notice.success {
  color: var(--success);
  padding: 10px;
  margin-bottom: 0px;
  border-radius: 3px;
  border: 1px solid var(--C-eee);
  border-left: 5px solid var(--success);
  font-weight: 500;
}

#flash_notice {
  color: var(--success);
  border-left: 5px solid var(--success);
}

.attachments {
  padding: 0;
}

.attachment {

  font-weight: bold;
  color:  var(--C-eee);
  border: 2px solid var(--C-eee);
  border-radius: 6px;
  list-style:none;
  padding: 8px;
  padding-left: 12px;
  margin-bottom: 5px;
  line-height: 30px;

  .right a {
  vertical-align: top;
  }

  .material-icons {
    margin-right: 10px;
  }

  &:hover {
    color: var(--C-ccc);
    border-color: var(--C-ccc);
  }

  &.add {
    border:none;
  }
}


.page-canvas-wrapper {
  position: relative;
  display: inline-block;
}


/* Restore hover functionality on Materialize buttons with color classes */
.btn:hover {
  background-color: var(--C-8c0000) !important;
}
.btn.disabled, .disabled.btn-large, .disabled.btn-small, .btn-floating.disabled, .btn-large.disabled, .btn-small.disabled, 
.btn-flat.disabled, .btn:disabled, .btn-large:disabled, .btn-small:disabled, .btn-floating:disabled, .btn-large:disabled, 
.btn-small:disabled, .btn-flat:disabled, .btn[disabled], .btn-large[disabled], .btn-small[disabled], .btn-floating[disabled], 
.btn-large[disabled], .btn-small[disabled], .btn-flat[disabled] {
  background-color: var(--C-DFDFDF) !important;
}


.drag-drop-handin {
  height: 120px;
  border: 3px dashed var(--C-b7b4b4);
  border-radius: 10px;
  cursor: pointer;
  margin-top: 10px;
  align-items: center;
  justify-content: center;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome and Opera */
}

.drag-drop-handin:hover {
  background: var(--C-000-L1);
}

#remove-handed-in {
  color: var(--C-b7b4b4);
  cursor: pointer;
}

/* Remove padding around collapsible of action links in handin page */
.collapsible-menu-link > .collapsible-body {
  padding: 0 0 0 0;
  a, a:hover {
    color: var(--C-569ff7);
  }
}



.collapsible-menu-link > .collapsible-header {
  padding: 0 0 5px 15px;
  background-color: var(--C-f3f0f0-L2);
}

.options li:hover {
  background-color: var(--C-f3f0f0-L2);
}

p, b {
  color: var(--headers-color);
  a {
    color: var(--C-569ff7);
  }
}

.material-icons {
  color: inherit;
}

li > a {
  color: var(--C-569ff7);
}

ul.theme-list > li {
  display:inline-block;
  float:left;
  a::before, p::before {
    content: ' ';
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    margin-left: 10px;
    cursor: pointer;

  }
  #default::before { // circle 
    border: 2px solid var(--theme-option-default-border) !important;
    background-color: var(--theme-option-default-fill);
  }
  #dark::before {
    border: 2px solid var(--theme-option-dark-border) !important;
    background-color: var(--theme-option-dark-fill);
  }
}

.table-of-contents {
  li > a {
    color: var(--C-444);
  }
}
span {
  color: var(--headers-color);
}
pre {
  color: var(--C-444);
  code {
    overflow-x: auto;
    white-space: pre-wrap;
    background-color: var(--C-f3f0f0-L2);
    border: 1px solid var(--C-eee);
    display: block;
    padding: 20px;
  }
}

#gradebook {
  background-color: var(--C-F8F8F8) !important;
  box-shadow: 0 0 5px 0px var(--C-eee) !important;
  border: 1px solid var(--C-ccc) !important;
  .slick-header-columns {
    background-color: var(--C-ebebeb) !important;
    color: var(--C-909090) !important;
  }
  .slick-cell{
    color: var(--C-555) !important;
    border-bottom: 1px solid var(--C-eee) !important;
  }
  .slick-cell.assessment_final_score,  .slick-cell.course_average{
    background-color: var(--C-ddd) !important;
  }
}

li {
  color: var(--headers-color);
}