// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#lti-settings-modal {
  width: 30%;
  top: 50% !important;
  transform: translateY(-50%) !important;
}

.tooltips {
  font-size: 14px;
}

.users-list-header-container {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}
