<div class="container">
  <div class="col-md-10">
    <h1>Whoa there.</h1>
    <p class="lead">
    <b>Autolab is currently down for regular maintenance.</b> Nothing in
    particular is wrong; we just need some time to make the site better
    for you.
    </p>
    <p>
    We try to schedule maintenance for times when few people are using
    the site, and we also try to be done with maintenance as quickly as
    possible.  If this is a major disruption for you, be sure to let your
    instructor know. We're sorry for the inconveniences, but hopefully
    when Autolab comes back on it'll be better than ever before!
    </p>
    <img src="/assets/donkeyKongTheBuilder.png" width=400px>
    <p class="lead">
    <br>
    <b>Thanks!</b>
    </p>
  </div>
</div>
