<div id="footer">
    <a href="https://autolabproject.com">Autolab Project</a>
    &middot; <a href="/home/contact">Contact</a>
    &middot; <a href="https://github.com/autolab/Autolab">GitHub</a>

    <span class="site_version">v<%= Rails.configuration.site_version %></span>
</div>
