<div id="footer">
    <a href="http://autolabproject.com">Autolab Project</a>
    路 <a href="/contact">Contact</a>
    路 <a href="https://github.com/autolab/Autolab">GitHub</a>
    路 <a href="https://www.facebook.com/autolabproject">Facebook</a>
    路 <%= link_to "Logout", destroy_user_session_path, method: :delete %>

    <span class="site_version">v<%= Rails.configuration.site_version %></span>
</div>
