<div id="footer">
    <a href="http://autolabproject.com">Autolab Project</a>
    · <a href="/contact">Contact</a>
    · <%= link_to "Logout", destroy_user_session_path, method: :delete %>

    <span class="pull-right">
    <a class="github-button" href="https://github.com/autolab/Autolab" data-count-href="/autolab/Autolab/stargazers" data-count-api="/repos/autolab/Autolab#stargazers_count" data-count-aria-label="# stargazers on GitHub" aria-label="Star autolab/Autolab on GitHub">Github</a>
    <div class="fb-like" data-href="https://www.facebook.com/autolabproject" data-width="300" data-layout="standard" data-action="like" data-show-faces="false" data-share="false"></div>
    </span>
</div>